{% extends "flatpages/default.html" %}
{% load staticfiles %}

{% block content %}
{% if flatpage.content %}
{{ flatpage.content }}
{% else %}
<iframe class="calendar" src="https://www.google.com/calendar/hosted/thepoint.org.au/embed?showTitle=0&showCalendars=0&showPrint=0&src=calendar%40thepoint.org.au&ctz=Australia/Brisbane&hl=en" frameborder="0" scrolling="no"></iframe>

<p>[ <a href="webcal://www.google.com/calendar/ical/calendar%40thepoint.org.au/public/basic.ics">iCalendar</a> ]</p>
{% endif %}
{% endblock content %}
