{% extends "flatpages/default.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'style/titlepage.css' %}" />
{% endblock stylesheets %}

{% block content %}
{% if flatpage.content %}
{{ flatpage.content }}
{% else %}
<div id="titlepage">
<ul>
<li><a href="{% url 'hilight:about' %}">About The Point</a><br />
Getting aquainted with The Point and what we believe.</li>
<li><a href="{% url 'resources:index' %}">Resources</a><br />
Publications from The Point on various Biblical topics.</li>
<li><a href="{% url 'hilight:theophilus' %}">Theophilus' Quest</a><br />
Theophilus' Quest is an attempt to convey the basics of Christianity in a simple and straight-forward way.</li>
<li><a href="{% url 'pages:contact' %}">Contact Details</a><br />
Would you like to know more about The Point? Get our contact details and meeting times here.</li>
<li><a href="{% url 'members:index' %}">Members Area</a><br />
Log in to the members only area. (Password required)</li>
</ul>
</div>
{% endif %}
{% endblock content %}
