{% extends "resources/base.html" %}
{% load i18n markdownify smartquote %}

{% block title %}{{ resource.title|smartquote }}{% if not resource.is_published %} [{% translate 'draft'|upper %}]{% endif %} | {{ block.super }}{% endblock title %}

{% block heading %}{{ resource.title|smartquote }}{% if not resource.is_published %} [{% translate 'draft'|upper %}]{% endif %}{% endblock heading %}

{% block metadata %}
{% if resource.author and resource.show_author %}<p id="author" itemprop="author" itemscope itemtype="http://schema.org/Person">By <a href="{% url 'resources:author' resource.author.id %}"><span itemprop="name">{{ resource.author.fullname|smartquote }}</span></a></p>{% else %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><meta itemprop="name" content="{{ object.author }}" /></span>{% endif %}
<meta itemprop="datePublished" content="{{ object.published|date:"Y-m-d\TH:i:sO" }}" />
<meta itemprop="dateModified" content="{{ object.modified|date:"Y-m-d\TH:i:sO" }}" />
<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><meta itemprop="name" content="{{ site.name }}" /></div>

{% if resource.alternates|length > 0 %}
<p class="option">{% translate 'This resource is also available in' %}
{% regroup resource.alternates by format as formats %}
{% for format in formats %}
{% with a=format.list|first %}<a href="{% url 'resources:attachment' a.id %}">{{ format.grouper }}</a>{% endwith %}{% if not forloop.last %}{% if forloop.revcounter0 == 1 %} {% translate 'or' %}{% else %},{% endif %}{% endif %}
{% endfor %}
{% translate 'format' %}.</p>
{% endif %}
{% endblock metadata %}

{% block content %}
{{ resource.content|markdownify:"full" }}
{% endblock content %}

{% block semantic %}
<article itemscope itemprop="mainEntity" itemtype="http://schema.org/Article">
{{ block.super }}
</article>
{% endblock semantic %}
