{% extends "resources/resource_list.html" %}
{% load i18n markdownify smartquote %}

{% block headers %}{{ block.super }}{% for feed in tag.feeds.all %}
<link rel="alternate" type="application/rss+xml" title="{{ feed.title|smartquote }}: {% if feed.is_podcast %}{% translate 'podcast'|capfirst %}{% else %}RSS{% endif %}" href="{% url 'resources:rss' feed.slug %}" />
<link rel="alternate" type="application/atom+xml" title="{{ feed.title|smartquote }}: {% translate 'Atom' %}" href="{% url 'resources:atom' feed.slug %}" />
{% endfor %}{% endblock headers %}

{% block title %}
{% if tag.is_featured %}
{{ tag.name|smartquote }} | {{ site.name }}
{% else %}
{% translate 'tag'|capfirst %}: {{ tag.name|smartquote }} | {{ block.super }}
{% endif %}
{% endblock title %}

{% block heading %}
{% if tag.is_featured %}
{{ tag.name|smartquote }}
{% else %}
{{ block.super }}: {% translate 'tag'|capfirst %}: {{ tag.name|smartquote }}
{% endif %}
{% endblock heading %}

{% block content %}
{% if tag.description %}
{{ tag.description|markdownify }}
{% endif %}
{% for feed in tag.feeds.all %}
{% if feed.is_podcast %}
<p>{% url 'resources:rss' feed.slug as podcast_url %}{% blocktranslate %}These items are available as a <a href="{{ podcast_url }}">podcast</a>{% endblocktranslate %}.</p>
{% endif %}
{% endfor %}
{{ block.super }}
{% endblock content %}
