{% extends "site/base.html" %}
{% load i18n %}

{% block title %}{% translate 'Tech Details' %} | {{ block.super }}{% endblock title %}

{% block heading %}{% translate 'Tech Details' %}{% endblock heading %}

{% block content %}
<table>
<tr><td><b>{% translate 'platform'|capfirst %}</b></td><td>{{ platform }}</td></tr>
<tr><td><b>{% translate 'python'|capfirst %}</b></td><td>{{ python_version }}</td></tr>
{% for package in packages|dictsort:"key" %}
<tr><td>{% if package.url %}<a href="{{ package.url }}">{{ package.name }}</a>{% else %}{{ package.name }}{% endif %}</td><td>{{ package.version }}</td></tr>
{% endfor %}
</table>
{% endblock content %}

{% block semantic %}
<main>
{{ block.super }}
</main>
{% endblock semantic %}
