{% extends "roster/base.html" %}

{% block title %}{{ block.super }}: {{ person.fullname }}{% endblock title %}

{% block heading %}{{ block.super }}: {{ person.fullname }}{% endblock heading %}

{% block content %}

{% regroup role_list|dictsort:"date" by date as role_date %}
{% for date in role_date %}
{% for role in date.list %}
{% if forloop.first %}<h3>{{ role.date|date:"jS F, Y" }}</h3>{% endif %}
<p>{{ role.role }}{% if role.location %}
at {{ role.location }}{% endif %}{% if role.description %}
<cite>({{ role.description }})</cite>{% endif %}</p>
{% endfor %}
{% endfor %}

<p class="links">[ <a href="{% url 'roster:event' person.id %}">iCalendar</a> ]</p>

{% endblock content %}
