{% extends "roster/base.html" %}

{% block title %}{{ block.super }}: {{ person.fullname }}{% endblock title %}

{% block heading %}{{ block.super }}: {{ person.fullname }}{% endblock heading %}

{% block content %}

{% regroup role_list|dictsort:"date" by date as role_date %}
{% for date in role_date %}
<p>
{% for role in date.list %}
<strong>{{ role.date|date:"jS F, Y" }}:</strong> {{ role.get_role_display }}
{% if role.location %} at {{ role.get_location_display }}{% endif %}
{% if role.description %} <cite>({{ role.description }})</cite>{% endif %}
{% endfor %}
</p>
{% endfor %}

<p class="links">[ <a href="{% url 'roster:event' person.id %}">iCalendar</a> ]</p>

{% endblock content %}
