{% extends "directory/base.html" %}

{% block heading %}{{ block.super }}: Birthdays{% endblock heading %}

{% block content %}

{% regroup person_list|dictsort:"birthdate" by birthday|date:"F" as birthday_by_month %}

{% for month in birthday_by_month %}
    <h3>{{ month.grouper }}</h3>
    {% regroup month.list by birthday.day as birthday_by_month_day %}
    <ul>
    {% for day in birthday_by_month_day %}
        <li><strong>{{ day.grouper }}</strong>{% for person in day.list %} {{ person.fullname }}{% if not forloop.last %},{% endif %}{% endfor %}</li>
    {% endfor %}
    </ul>
{% empty %}
    <p>No birthdays were found.</p>
{% endfor %}

{% endblock content %}
