img {
    float: right;
}

p {
    text-align: left;
}

blockquote {
    font-style: normal;
    padding: 0 1rem;
}

blockquote > p {
    margin: 0;
}

@media screen and (max-width: 640px) {
    p {
        clear: right
    }
}
