body {
    color: black;
    background: white;
    background-image: url(beach.jpg);
    background-repeat: no-repeat;
    background-size: 1000px;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    vertical-align: middle;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-position: outside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 0.5em;
}

a {
    background: transparent;
    color: rgb(128,0,0);
    text-decoration: none;
}

a:hover {
    background: transparent;
    color: rgb(200,0,0);
    text-decoration: underline;
}

h2, h3, h4, h5, h6 {
    font-family: 'Verdana', sans-serif;
    padding: 0 10px;
}

div#header {
    position: relative;
    background-image: url(jetty.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    color: white;
    max-width: 980px;
    min-height: 200px;
}

div#header p {
    margin: 0;
    font-size: 14px;
    font-style: italic;
    text-align: left;
    border: 0;
    border-top: 2px solid white;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

div#header p.caption {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    padding: 10px;
    font-size: 10px;
    font-style: normal;
}

h1 {
    font-variant: small-caps;
    font-family: 'Bitstream Vera Serif', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    color: white;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20px;
    color: rgb(15,80,140);
    background: transparent;
    text-align: left;
    margin: 10px;
    padding: 0;
    padding-top: 0.5em;
    border-bottom: 2px solid;
}

h3 {
    font-size: 16px;
    color: rgb(128,0,0);
    background: transparent;
    text-align: left;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid;
    margin-bottom: 0;
}

h4 {
    font-size: 14px;
    color: rgb(15,80,140);
    background: transparent;
    text-align: left;
}

h5 {
    font-size: 12px;
    font-weight: bold;
    color: rgb(15,80,140);
    background: transparent;
    text-align: left;
}

hr {
    width: 90%;
    color: rgb(128,0,0);
    border: none;
    border-bottom: 1px solid;
}

p, blockquote, ul, ol, dl {
    margin: 10px;
    font-size: 12px;
    text-align: justify;
}

blockquote {
    font-style: italic;
    padding: 0 2em;
}

blockquote p.attrib {
    text-align: right;
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
}

code {
    font-family: monospace;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
}

td {
    vertical-align: top;
    padding: 5px;
}

p.links {
    text-align: right;
}

p.timestamp {
    margin-top: 0;
    padding: 0;
    font-size: 9px;
    color: rgb(85,85,85);
    text-align: right;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

img {
    margin: 5px;
    border: 1px solid black;
    max-width: 100%;
}

img.right {
    float: right;
}

div#navbar {
    display: block;
    float: left;
    width: 200px;
}

div#navbar ul {
    background: transparent;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    list-style-type: none;
    padding-left: 0;
}

div#navbar ul ul {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}

div#navbar ul ul a {
    padding-left: 3em;
    text-transform: none;
}

div#navbar ul li {
    margin: 0;
}

div#navbar ul a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 5px;
    padding-left: 1.5em; 
    text-indent: -1em;
}

div#navbar ul a:before {
    content: "• ";
    color: rgb(255,192,0);
}

div#navbar ul a:hover {
    background: white;
    background: rgba(255,255,255,0.8);
    color: rgb(200,0,0);
}

div#navbar p.logon {
    background: white;
    background: rgba(255,255,255,0.6);
    padding: 5px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: rgb(74,68,42);
}

input#navbar-trigger {
    display: none;
}

label[for="navbar-trigger"] {
    display: none;
}

div#body {
    background: white;
    margin: 10px;
    margin-left: 200px;
    display: block;
    max-width: 750px;
    min-height: 560px;
    padding: 0 20px;
}

p.error {
    text-align: left;
    color: red;
    font-weight: bold;
}

p.error:before {
    content: "Error: ";
    font-weight: bold;
}

p.message {
    text-align: left;
    color: blue;
    font-weight: bold;
}

p.intro {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 5px;
    text-align: justify;
    margin: 2em;
}

a.footnote {
    font-size: 8px;
    vertical-align: top;
    font-weight: bold;
}

ol.footnotes {
    border-top: 1px solid;
}

table {
    table-layout: fixed;
    width: 100%;
    padding: 10px;
}

table td {
    padding: 0;
}

table.family {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table.family td {
    border: 0;
    vertical-align: top;
}

table.family td p {
    margin-top: 0;
    text-align: left;
}

table.family td img {
    margin: 0;
    border: 1px solid black;
    float: right;
}

form {
    padding: 0 10px;
}

form table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

form table tr {
    height: auto;
}

form table td {
    padding: 0;
    vertical-align: top;
}

form table td p {
    margin: 0;
    padding: 5px;
    text-align: right;
}

form table td input[type=submit], form table td input[type=reset] {
    float: right;
}

form table.passwd {
    width: auto;
    margin: auto;
}

iframe.calendar {
    width: 750px;
    min-height: 600px;
    border: none;
}

div.splash {
    padding: 10px 0;
}

div.splash > h3 {
    margin: 0;
    text-align: center;
    border: none;
}
