body {
    color: rgb(0,0,0);
    background: rgb(255,255,255);
    font-family: verdana, serif;
    font-size: 10px;
    font-size-adjust: none;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    vertical-align: middle;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    margin-left: 150px;
    padding: 0;
}

ul, ol {
    list-style-position: outside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 0.5em;
}

a {
    background: transparent;
    color: rgb(128,0,0);
    text-decoration: none;
}

a:hover {
    background: transparent;
    color: rgb(200,0,0);
    text-decoration: underline;
}

h2, h3, h4, h5, h6 {
    font-family: verdana, sans-serif;
    padding: 0 10px;
}

h1 {
    display: none;
}

h2 {
    font-size: 20px;
    color: rgb(15,80,140);
    background: transparent;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    border-bottom: 2px solid;
}

h3 {
    font-size: 15px;
    color: rgb(128,0,0);
    background: transparent;
    text-align: left;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid;
    margin-bottom: 0;
}

h4 {
    font-size: 12px;
    color: rgb(15,80,140);
    background: transparent;
    text-align: left;
}

h5 {
    font-size: 10px;
    font-weight: bold;
    color: rgb(15,80,140);
    background: transparent;
    text-align: left;
}

hr {
    width: 90%;
    color: rgb(128,0,0);
    border: none;
    border-bottom: 1px solid;
}

p, blockquote, ul, ol, dl {
    margin: 10px;
    font-size: 10px;
    text-align: justify;
}

blockquote {
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
}

blockquote p.attrib {
    text-align: right;
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
}

code {
    font-family: monospace;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
}

td {
    vertical-align: top;
    padding: 5px;
}

p.links {
    text-align: right;
}

p.timestamp {
    margin-top: 0;
    padding: 0;
    font-size: 9px;
    color: rgb(85,85,85);
    text-align: right;
}

img {
    margin: 5px;
    border: 1px solid black;
}

img.right {
    float: right;
}

div#navbar {
    display: block;
    float: left;
    width: 150px;
    margin-right: 10px;
    padding-top: 157px;
    background-image: url('logo2.png');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
}

div#navbar p {
    background: rgb(255,255,255);
    margin: 0;
    padding: 10px 0;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(15,80,140);
}

div#navbar p + p {
    border-top: 1px dotted rgb(15,80,140);
}

div#navbar p a {
    background: transparent;
    color: rgb(15,80,140);
    text-decoration: none;
    display: block;
    font-size: 12px;
}

div#navbar p a + a:before {
    content: "-";
    font-size: 4px;
    display: block;
}

div#navbar p a:hover {
    background: transparent;
    color: rgb(200,0,0);
}

div#navbar p.logon {
    margin: 0;
    border: 0;
    background: white;
    font-weight: normal;
    color: rgb(128,0,0);
}

p#footer {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    border-top: 2px solid rgb(15,80,140);
    color: rgb(128,0,0);
    text-align: right;
    font-style: italic;
    width: 150px;
    position: fixed;
    left: 0;
    bottom: 0;
}

p.error {
    text-align: left;
    color: red;
    font-weight: bold;
}

p.error:before {
    content: "Error: ";
    font-weight: bold;
}

p.message {
    text-align: left;
    color: rgb(0,0,255);
    font-weight: bold;
}

p.intro {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 5px;
    text-align: justify;
    margin: 2em;
}

a.footnote {
    font-size: 8px;
    vertical-align: top;
    font-weight: bold;
}

ol.footnotes {
    border-top: 1px solid;
}

table {
    table-layout: fixed;
    width: 100%;
    padding: 10px;
}

table td {
    padding: 0;
}

table.family {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table.family td {
    border: 0;
    vertical-align: top;
}

table.family td p {
    margin-top: 0;
    text-align: left;
}

table.family td img {
    margin: 0;
    border: 1px solid rgb(0,0,0);
    float: right;
}

form {
    padding: 0 10px;
}

form table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

form table tr {
    height: auto;
}

form table td {
    padding: 0;
    vertical-align: top;
}

form table td p {
    margin: 0;
    padding: 5px;
    text-align: right;
}

form table td input[type=submit], form table td input[type=reset] {
    float: right;
}

form table.passwd {
    width: auto;
    margin: auto;
}
