@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600,800&display=swap');
@import url('icons.css');

body {
    color: black;
    background: white;
    font-family: 'Fira Sans', 'Verdana', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    line-height: 1.7rem;
    vertical-align: middle;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0;
}

div#wrapper {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

ul, ol {
    list-style-position: outside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 0.5rem;
}

a {
    background: transparent;
    color: rgb(170,50,0);
    text-decoration: none;
}

a:hover {
    background: transparent;
    color: rgb(200,0,0);
    text-decoration: underline;
}

div#header {
    position: relative;
    background-image: url(lights.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    font-weight: 400;
    text-shadow: 2px 2px 2px black;
    color: white;
    height: 200px;
}

div#header h1 {
    padding: 1rem;
    line-height: 3rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

div#header p {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: left;
    font-family: Times New Roman, serif;
    border: 0;
    margin: 0;
    padding: 0 1rem 0.4rem;
}

div#header-inner {
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200px' height='200px' viewBox='0 0 200 200'%3E%3Ccircle cx='30' cy='-100' r='150' stroke='white' stroke-width='1.5' fill='none'/%3E%3Ccircle cx='30' cy='-100' r='147' stroke='white' stroke-width='0.5' fill='none'/%3E%3Ccircle cx='30' cy='-100' r='143.5' stroke='white' stroke-width='0.5' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 750px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', 'Verdana', sans-serif;
    font-weight: 600;
    padding: 0 1rem;
}

h1 {
    font-size: 2.5rem;
    text-align: left;
    color: white;
    margin: 0;
    padding: 0 0 0.4rem;
}

h2 {
    font-size: 1.6rem;
    color: rgb(170,50,0);
    background: transparent;
    text-align: left;
    margin: 0.8rem;
    margin-top: 2rem;
    padding: 0;
    border-bottom: 2px solid;
}

h3 {
    font-size: 1.3rem;
    color: rgb(170,50,0);
    background: transparent;
    text-align: left;
    padding: 0;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    border-bottom: 1px solid;
    margin-bottom: 0;
}

h4 {
    font-size: 1.1rem;
    color: rgb(170,50,0);
    background: transparent;
    text-align: left;
    padding: 0;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(170,50,0);
    background: transparent;
    text-align: left;
    padding: 0;
}

hr {
    width: 90%;
    color: rgb(170,50,0);
    border: none;
    border-bottom: 1px solid;
}

p, blockquote, ul, ol, dl {
    margin: 1rem;
    text-align: justify;
}

blockquote {
    font-style: italic;
    padding: 0 2rem;
}

blockquote:after {
    content: "\2013 \2003" attr(cite);
    content: attr(cite);
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 0.9rem;
}

blockquote p.attrib {
    text-align: right;
    font-style: normal;
    font-size: 0.9rem;
}

code {
    font-family: monospace;
}

dt {
    font-weight: 400;
}

dd {
    margin-left: 2rem;
}

td {
    vertical-align: top;
    padding: 0.4rem;
}

p.links {
    text-align: right;
}

p.metadata {
    margin-top: 0;
    padding: 0;
    font-size: 0.8rem;
    color: rgb(85,85,85);
    text-align: right;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4rem;
}

sub {
    top: 0.4rem;
}

img {
    margin: 0.4rem;
    border: 1px solid black;
    max-width: 100%;
}

img.right {
    float: right;
}

figure {
    margin: 0.4rem;
    max-width: 100%;
}
figure > img {
    display: block;
    margin: 0 auto;
}
figure > figcaption {
    margin-top: 0.5em;
    font-size: 0.8rem;
    color: rgb(85,85,85);
    text-align: center;
}

div#navbar {
    display: block;
    margin: 0.3rem 0;
}

div#navbar ul {
    background: transparent;
    text-align: center;
    font-weight: 600;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#navbar ul li {
    padding: 0 0.5rem;
    display: inline-block;
}

div#navbar ul a {
    color: black;
    text-decoration: none;
    text-transform: lowercase;
    display: block;
}

div#navbar ul a:hover {
    color: rgb(170,50,0);
}

div#navbar ul li a:before {
    border: 0;
    margin: 0 0.5rem 0 0;
    padding: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Ccircle cx='15' cy='15' r='14' fill='rgb(207,174,81)'/%3E%3C/svg%3E");
    display: inline-block;
}

div#navbar ul li a:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Ccircle cx='15' cy='15' r='14' fill='rgb(200,140,0)'/%3E%3C/svg%3E");
}

div#navbar-member {
    color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Crect width='1' height='1' fill='black' opacity='0.8'/%3E%3C/svg%3E");
    background-size: 100px 100px;
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
}

div#navbar-member ul {
    background: transparent;
    text-align: left;
    font-weight: 600;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

div#navbar-member ul li {
    display: block;
    text-align: left;
}

div#navbar-member ul a {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
    display: block;
}

div#navbar-member ul li a:before {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    margin: 0 0.5rem;
    padding: 0.4rem;
    vertical-align: middle;
}

div#navbar-member ul a {
    color: white;
    padding-right: 0.3rem;
}

div#navbar-member ul li a:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Crect width='1' height='1' fill='rgb(170,50,0)' opacity='0.8'/%3E%3C/svg%3E");
    background-size: 100px 100px;
}

input#navbar-trigger, input#navbar-member-trigger {
    display: none;
}

label[for="navbar-trigger"] {
    display: none;
}

label[for="navbar-member-trigger"], p#navbar-member-trigger {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300px' height='30px' viewBox='0 0 300 30'%3E%3Crect width='300' height='30' fill='black' opacity='0.8'/%3E%3Cpath d='M274,4 L296,4 M274,15 L296,15 M274,26 L296,26' stroke-width='6' stroke-linecap='round' stroke='white'/%3E%3C/svg%3E");
    background-position: right;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 35px;
    font-weight: 600;
    line-height: 30px;
    vertical-align: middle;
    display: block;
}

input#navbar-member-trigger:checked ~ div#navbar-member {
    display: block;
}

input#navbar-member-trigger:checked + label[for="navbar-member-trigger"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300px' height='30px' viewBox='0 0 300 30'%3E%3Crect width='300' height='30' fill='black' opacity='0.8'/%3E%3Cpath d='M296,4 L274,26 M274,4 L296,26' stroke-width='6' stroke-linecap='round' stroke='white'/%3E%3C/svg%3E");
}

div#navbar-member p.logon {
    margin: 0;
    text-align: center;
    font-size: 0.7rem;
}

div#body {
    background: white;
    display: block;
}

p.success {
    text-align: left;
    color: rgb(0,128,0);
    font-weight: 600;
}

p.error {
    text-align: left;
    color: red;
    font-weight: 600;
}

p.error:before {
    content: "Error: ";
    font-weight: 600;
}

ul.errorlist {
    margin: 0;
    color: red;
}

ul.errorlist li {
    margin: 0;
}

p.message {
    text-align: left;
    color: blue;
    font-weight: 400;
}

p.intro {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0.4rem;
    text-align: justify;
    margin: 2rem;
}

a.footnote {
    font-size: 0.8rem;
    vertical-align: top;
    font-weight: 400;
}

ol.footnotes {
    border-top: 1px solid;
}

table {
    table-layout: fixed;
    width: 100%;
    padding: 0.9rem;
}

table td {
    padding: 0;
}

div.family {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

div.family a {
    color: initial;
}

div.family a:hover {
    color: rgb(200,0,0);
}

div.family h3 {
    width: 100%;
}

.family_people, .family_address, .family_photo {
    padding: 1rem;
    flex: 1 1 0;
}

div.family .family_people p {
    margin: 0;
    white-space: nowrap;
}

div.family .family_people a, div.family .links a {
    color: rgb(170,50,0);
}

div.family .family_people .label {
    font-weight: 400;
}

div.family .family_address p {
    margin: 0;
    text-align: left;
}

div.family .family_address dl {
    margin: 0;
}

div.family .family_photo img {
    max-height: 240px;
    max-width: 320px;
    border: 0;
    margin: 0;
}

form {
    padding: 0 0.8rem;
}

form table {
    border-spacing: 0.2rem;
    table-layout: auto;
    width: 100%;
}

form table tr {
    height: auto;
}

form table th {
    text-align: left;
}

form table td {
    padding: 0;
    vertical-align: top;
}

form table td p {
    margin: 0;
    padding: 0.4rem;
    text-align: right;
}

form input[type=submit], form input[type=reset] {
    float: right;
}

form table.passwd {
    width: auto;
    margin: auto;
}

input, textarea, select, select option {
    font-family: 'Fira Sans', 'Verdana', sans-serif;
    font-weight: 300;
}

input:focus, textarea:focus, select:focus {
    outline-color: rgb(170,50,0);
}

select option:checked {
    font-weight: 600;
}

::selection {
    background-color: rgb(207,174,81);
}

::-moz-selection {
    background-color: rgb(207,174,81);
}

iframe.calendar {
    width: 750px;
    min-height: 600px;
    border: none;
}

div.splash {
    padding: 1rem 0;
    border: 1px solid black;
    margin: 1rem;
}

div.splash > h3 {
    margin: 0;
    text-align: center;
    border: none;
}

@media screen and (max-width: 600px) {
    body {
        background-size: auto;
        text-align: left;
    }

    div#body {
        width: auto;
        margin: 0.7rem;
    }

    div#header-inner-inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    div#header h1 {
        padding: 1rem 0.5rem 0;
        line-height: 2.5rem;
    }

    div#header p {
        font-size: 1.5rem;
    }

    div#navbar {
        float: none;
        width: auto;
        border-top: 0;
        border-bottom: 1px solid black;
    }

    div#navbar ul {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
    }

    div#navbar ul li {
        padding: 0.5rem;
    }

    div#navbar ul + ul:before {
        content: '⎼⎼';
        font-size: 1rem;
        font-weight: 300;
    }

    div.family {
        flex-direction: column;
    }

    .div.family family_photo img {
        max-width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 600px), screen and (max-height: 400px) {
    div#navbar {
        display: none;
        box-shadow: 0 7px 5px -5px black;
    }

    label[for="navbar-trigger"] {
        cursor: pointer;
        position: absolute;
        height: 30px;
        top: 170px;
        right: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300px' height='30px' viewBox='0 0 300 30'%3E%3Crect width='300' height='30' fill='black' opacity='0.8'/%3E%3Cpath d='M274,4 L296,4 M274,15 L296,15 M274,26 L296,26' stroke-width='6' stroke-linecap='round' stroke='white'/%3E%3C/svg%3E");
        background-position: right;
        background-repeat: no-repeat;
        color: white;
        padding: 0;
        padding-left: 5px;
        padding-right: 35px;
        font-weight: 600;
        line-height: 30px;
        vertical-align: middle;
        display: block;
    }

    input#navbar-trigger:checked ~ div#navbar {
        display: block;
    }

    input#navbar-trigger:checked + label[for="navbar-trigger"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300px' height='30px' viewBox='0 0 300 30'%3E%3Crect width='300' height='30' fill='black' opacity='0.8'/%3E%3Cpath d='M296,4 L274,26 M274,4 L296,26' stroke-width='6' stroke-linecap='round' stroke='white'/%3E%3C/svg%3E");
    }
}

@media screen and (max-height: 400px) {
    div#header {
        height: 100px;
    }

    div#header h1 {
        padding-top: 0;
    }

    label[for="navbar-trigger"] {
        top: 70px;
    }
}
