body {
    background-size: auto;
    text-align: left;
}

div#header {
    height: 120px;
    border-bottom: 1px solid black;
}

div#header h1 {
    padding: 1rem 0.5rem 0;
}

div#header p {
    padding: 0 0.5rem 0.4rem;
    font-size: 0.7rem;
}

div#header p.caption {
    display: none;
}

div#navbar {
    display: none;
    float: none;
    width: auto;
    border-top: 0;
}

div#navbar ul {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

div#navbar ul li {
    padding: 0.5rem;
    display: list-item;
}

div#navbar ul + ul:before {
    content: '⎼⎼';
    font-size: 1rem;
    font-weight: 300;
}

label[for="navbar-trigger"] {
    cursor: pointer;
    position: absolute;
    height: 30px;
    top: 90px;
    right: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='100px' height='30px' viewBox='0 0 100 30'><rect width='100' height='30' fill='white' opacity='0.6'/><path d='M74,4 L96,4 M74,15 L96,15 M74,26 L96,26' stroke-width='6' stroke-linecap='round' stroke='black' opacity='0.6'/></svg>");
    background-position: right;
    background-repeat: no-repeat;
    padding: 0;
    padding-left: 5px;
    padding-right: 35px;
    font-weight: 600;
    line-height: 30px;
    vertical-align: middle;
    display: block;
}

input#navbar-trigger:checked ~ div#navbar {
    display: block;
}

input#navbar-trigger:checked + label[for="navbar-trigger"] {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='100px' height='30px' viewBox='0 0 100 30'><rect width='100' height='30' fill='white' opacity='0.6'/><path d='M96,4 L74,26 M74,4 L96,26' stroke-width='6' stroke-linecap='round' stroke='black' opacity='0.6'/></svg>");
}

div#body {
    width: auto;
    margin: 0.7rem;
}

@media screen and (max-width: 330px) {
    div#header h1 {
        font-size: 2rem;
    }
}
