@import url('https://fonts.googleapis.com/css?family=Merriweather:300');

body {
    color: black;
    background: white;
    font-family: 'Merriweather', 'Times New Roman', serif;
    font-size: 11pt;
    font-size-adjust: none;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    vertical-align: middle;
    text-align: justify;
    text-indent: 0;
    line-height: 2rem;
}

ul, ol {
    list-style-position: outside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', 'Verdana', sans-serif;
    color: black;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
}

div#header {
    display: none;
}

div.toc {
    display: none;
}

h2 {
    font-size: 18pt;
    border-bottom: 1pt solid black;
    margin-bottom: 8pt;
}

h3 {
    font-size: 14pt;
    border-bottom: 1pt solid;
}

h4 {
    font-size: 12pt;
}

h5 {
    font-size: 10pt;
    font-weight: 600;
    color: black;
}

hr {
    width: 100%;
    color: black;
    border: none;
    border-bottom: 1pt solid;
}

p, li, blockquote {
    margin: 10pt 0;
    font-size: 11pt;
}

blockquote {
    font-style: italic;
    margin-left: 20pt;
    margin-right: 20pt;
}

code {
    font-family: monospace;
}

td {
    padding: 5pt;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.links {
    display: none;
}

img {
    margin: 5pt;
    border: 1pt solid black;
}

img.right {
    float: right;
}

img.left {
    float: left;
}

div#body {
    width: auto;
    margin: 0;
    min-height: initial;
}

div#navbar {
    display: none;
}

p.logon {
    display: none;
}

p.date {
    font-weight: 600;
}

p.option {
    display: none;
}

p.error {
    text-align: left;
    color: red;
}

p.error:before {
    content: "Error: ";
    font-weight: 600;
}

a.footnote {
    font-size: 0.6rem;
    vertical-align: top;
    color: black;
}

ol.footnotes {
    border-top: 1px solid;
}

table.family {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table.family td {
    border: 0 solid;
    vertical-align: top;
}

table.family td p {
    margin-top: 0;
    text-align: left;
}

table.family td img {
    margin: 0;
    border: 1px solid black;
    float: right;
}

@page {
    size: portrait;
    margin: 35mm;
}

table.calendar {
    width: 100%;
    table-layout: fixed;
}

table.calendar td {
    border: 1pt solid black;
    vertical-align: top;
}

table.calendar td.weekend {
    background-color: rgb(217,217,217);
}

table.calendar td p {
    margin: 0;
    text-align: left;
}

table.calendar th {
    text-align: center;
}

table.calendar p.date {
    font-weight: 600;
    text-align: right;
}

table.calendar {
    empty-cells: hide;
}

table.myhome {
    width: 100%;
    table-layout: fixed;
}

table.myhome td {
    vertical-align: top;
}

table.passwd {
    margin: 1rem;
    text-align: right;
}

table.passwd td {
    padding: 2pt;
}

form {
    display: none;
}

/***[ article stuff ]*********************************/
p#author {
    text-align: right;
}

p#intro {
    border-top: 1pt solid;
    border-bottom: 1pt solid;
    padding: 5pt;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footnote li, .footnote p {
    margin: 0;
    font-size: 9pt;
    line-height: 1.2rem;
}

a.footnote-backref {
    display: none;
}

/***[ splash stuff ]*********************************/
div.splash {
    display: none;
}
