body {
    color: black;
    background: white;
    font-family: 'Times New Roman', serif;
    font-size: 12pt;
    font-size-adjust: none;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    vertical-align: middle;
    text-align: justify;
    text-indent: 0;
    margin: 10pt;
}

ul, ol {
    list-style-position: outside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Verdana', sans-serif;
    color: black;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
}

div#header {
    display: none;
}

h2 {
    font-size: 18pt;
    border-bottom: 1pt solid black;
    margin-bottom: 8pt;
}

h3 {
    font-size: 14pt;
    border-bottom: 1pt solid;
}

h4 {
    font-size: 12pt;
}

h5 {
    font-size: 10pt;
    font-weight: bold;
    color: black;
}

hr {
    width: 100%;
    color: black;
    border: none;
    border-bottom: 1pt solid;
}

p, li, blockquote {
    margin: 10pt 0;
    font-size: 11pt;
}

blockquote {
    font-style: italic;
    margin-left: 20pt;
    margin-right: 20pt;
}

blockquote p.attrib {
    text-align: right;
    font-weight: bold;
    font-style: normal;
    font-size: 10pt;
}

code {
    font-family: monospace;
}

td {
    padding: 5pt;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.links {
    display: none;
}

img {
    margin: 5pt;
    border: 1pt solid black;
}

img.right {
    float: right;
}

img.left {
    float: left;
}

div#body {
    width: auto;
    margin: 0;
    min-height: initial;
}

div#navbar {
    display: none;
}

p.logon {
    display: none;
}

p.date {
    font-weight: bold;
}

p.option {
    display: none;
}

p.error {
    text-align: left;
    color: red;
}

p.error:before {
    content: "Error: ";
    font-weight: bold;
}

a.footnote {
    font-size: 8px;
    vertical-align: top;
    color: black;
}

ol.footnotes {
    border-top: 1px solid;
}

table.family {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table.family td {
    border: 0 solid;
    vertical-align: top;
}

table.family td p {
    margin-top: 0;
    text-align: left;
}

table.family td img {
    margin: 0;
    border: 1px solid black;
    float: right;
}

@page {
    size: landscape;
    margin: 72pt;
}

table.calendar {
    width: 100%;
    table-layout: fixed;
}

table.calendar td {
    border: 1pt solid black;
    vertical-align: top;
}

table.calendar td.weekend {
    background-color: rgb(217,217,217);
}

table.calendar td p {
    margin: 0;
    text-align: left;
}

table.calendar th {
    text-align: center;
}

table.calendar p.date {
    font-weight: bold;
    text-align: right;
}

table.calendar {
    empty-cells: hide;
}

table.myhome {
    width: 100%;
    table-layout: fixed;
}

table.myhome td {
    vertical-align: top;
}

table.passwd {
    margin: 1em;
    text-align: right;
}

table.passwd td {
    padding: 2pt;
}

form {
    display: none;
}

/***[ article stuff ]*********************************/
p#author {
    text-align: right;
}

p#intro {
    border-top: 1pt solid;
    border-bottom: 1pt solid;
    padding: 5pt;
    text-align: justify;
    margin-top: 2em;
    margin-bottom: 2em;
}

/***[ rsg stuff ]*************************************/
p.bible {
    background-image: url(bible.png);
    background-repeat: no-repeat;
    background-position: left center;
    font-weight: bold;
    font-size: 14pt;
    min-height: 66pt;
    padding-left: 80pt;
}

p.note {
    font-size: 9pt;
}

div.write {
    background-image: url(write.png);
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 80pt;
    font-style: italic;
    padding-left: 80pt;
}

div.write p:after {
    content: "\
. . . . . . . . . . . . . . . . . . . . . . \
. . . . . . . . . . . . . . . . . . . . . \
. . . . . . . . . . . . . . . . . . . . . . \
. . . . . . . . . . . . . . . . . . . .\A \
. . . . . . . . . . . . . . . . . . . . . . \
. . . . . . . . . . . . . . . . . . . . . \
. . . . . . . . . . . . . . . . . . . . . . \
. . . . . . . . . . . . . . . . . . . .\A \
. . . . . . . . . . . . . . . . . . . . . . \
. . . . . . . . . . . . . . . . . . . . . \
. . . . . . . . . . . . . . . . . . . . . . \
. . . . . . . . . . . . . . . . . . . . ";
    display: block;
    text-align: left;
    line-height: 200%;
}
