body > header {
    background-size: auto;
}

nav#navbar:before {
    display: none;
}

nav#navbar ul {
    display: block;
    box-shadow: none;
    position: inherit;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav#navbar li {
    margin: 0 0.2rem;
    font-size: 1rem;
    text-align: left;

    width: 40%;
}

nav#navbar a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav#navbar a:before {
    width: 1.5rem;
    height: 1.5rem;
    padding: 1.2rem;
    flex-shrink: 0;
}

main {
    text-align: center;
}

main div {
    text-align: center;
    display: inline-block;
    padding: 0 0 2rem;
    line-height: normal;
    vertical-align: middle;
}

main div ~ div {
    padding: 2rem 0;
    border: 0;
    border-top: 0.1rem solid black;
}

main h2 {
    border: 0;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

main p {
    text-align: center;
}

main blockquote {
    font-style: normal;
    max-width: 15rem;
    margin: 5rem auto 0;
}

main blockquote p {
    margin: 0 0 1rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

main blockquote cite {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

main blockquote p.attrib {
    margin-top: 0.5rem;
}

main blockquote:before {
    content: '\201C';
    margin: 0 auto;
    display: block;
    font-size: 4rem;
    line-height: 0.2rem;
    text-align: center;
}

aside.splash p {
    text-align: center;
}

@media screen and (min-width: 40em) {
    nav#navbar li {
        width: 25%;
    }
}

@media screen and (min-width: 36em) {
    body > header {
        background-size: auto;
    }

    nav#navbar ul {
        font-size: 1.5rem;
    }

    nav#navbar li {
        margin: 1rem 0.5rem;
        font-size: 1.5rem;
    }

    nav#navbar a {
        display: inline-flex;
        align-items: center;
    }

    nav#navbar a:before {
        width: 2rem;
        height: 2rem;
        padding: 1.2rem;
        flex-shrink: 0;
    }

    main div {
        width: 30%;
        padding: 0 2rem;
    }

    main div ~ div {
        border-left: 0.1rem solid;
        border-top: none;
    }
}

@media screen and (min-width: 62em) {
    body > header {
        background-size: 100%;
    }
}

@media screen and (min-height: 48em) {
    body > header {
        justify-content: center;
        height: 39em;
    }

    body > header:before {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Ccircle cx='100' cy='100' r='90' stroke='white' stroke-width='1.5' fill='none'/%3E%3Ccircle cx='100' cy='100' r='87' stroke='white' stroke-width='0.5' fill='none'/%3E%3Ccircle cx='100' cy='100' r='83.5' stroke='white' stroke-width='0.5' fill='none'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    body > header h1 {
        text-align: center;
        letter-spacing: 0.5rem;
    }

    body > header p {
        text-align: center;
    }
}

@media screen and (max-width: 36em) and (min-height: 48em) {
    body > header {
        height: 75vw;
    }
}

@media (prefers-color-scheme: dark) {
    main h2 {
        color: white;
    }

    main div ~ div {
        border-color: white;
    }
}
