nav#navbar ul {
    font-size: 1.5rem;
}

nav#navbar ul li {
    width: 25%;
    margin: 1rem 0.5rem;
    text-align: left;
}

nav#navbar ul li a {
    display: inline-flex;
    align-items: center;
}

nav#navbar ul li a:before {
    width: 2rem;
    height: 2rem;
    padding: 1.2rem;
    flex-shrink: 0;
}

main {
    text-align: center;
}

main div {
    width: 30%;
    text-align: center;
    display: inline-block;
    padding: 0 2rem;
    line-height: normal;
    vertical-align: middle;
}

main div ~ div {
    border-left: 2px solid black;
}

main h2 {
    border: 0;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

main p {
    text-align: center;
}

main blockquote {
    font-style: normal;
    max-width: 15rem;
    margin: 5rem auto 0;
}

main blockquote p {
    margin: 0 0 1rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

main blockquote cite {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

main blockquote p.attrib {
    margin-top: 0.5rem;
}

main blockquote:before {
    content: '\201C';
    margin: 0 auto;
    display: block;
    font-size: 4rem;
    line-height: 0.2rem;
    text-align: center;
}

aside.splash p {
    text-align: center;
}

@media screen and (min-height: 760px) {
    body > div#wrapper > header {
        height: 625px;
    }

    div#header-inner {
        height: 100%;
        position: relative;
    }

    div#header-inner {
        vertical-align: middle;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='200px' height='200px' viewBox='0 0 200 200'%3E%3Ccircle cx='100' cy='100' r='90' stroke='white' stroke-width='1.5' fill='none'/%3E%3Ccircle cx='100' cy='100' r='87' stroke='white' stroke-width='0.5' fill='none'/%3E%3Ccircle cx='100' cy='100' r='83.5' stroke='white' stroke-width='0.5' fill='none'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    div#header-inner-inner {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }

    body > div#wrapper > header h1 {
        text-align: center;
        letter-spacing: 0.5rem;
    }

    body > div#wrapper > header p {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    body > div#wrapper > header {
        background-position: left;
    }

    nav#navbar ul li {
        width: 40%;
    }
}

@media screen and (max-width: 600px), screen and (max-height: 400px) {
    body > div#wrapper > header h1 {
        letter-spacing: 0.2rem;
        padding: 1rem 2rem 0;
    }

    nav#navbar:before {
        display: none;
    }

    nav#navbar ul {
        display: block;
        box-shadow: none;
        position: inherit;
    }

    nav#navbar ul li {
        margin: 0 0.2rem;
        font-size: 1rem;
    }

    nav#navbar ul li a:before {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (max-width: 600px) and (min-height: 750px) {
    body > div#wrapper > header {
        height: 75vw;
    }

    div#header-inner {
        width: 75%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    main div {
        width: inherit;
        padding: 0 0 2rem;
    }

    main div ~ div {
        padding: 2rem 0;
        border: 0;
        border-top: 2px solid black;
    }
}

@media (prefers-color-scheme: dark) {
    main h2 {
        color: white;
    }
}
