{% load markup %}
<div id="index">
{% for resource in resource_list %}
<h3><a href="{% url "resources:detail" resource.slug %}">{{ resource.title }}</a></h3>
{% if not tag and resource.show_date or tag.show_date %}<p class="timestamp">{{ resource.published|date:"j/n/Y" }}</p>{% endif %}
{% if resource.description %}{{ resource.description|markdown:"safe" }}{% endif %}
<p class="links">[
{% if resource.body %}<a href="{% url "resources:detail" resource.slug %}">read</a>{% endif %}
{% for attachment in resource.alternates %}
{% if resource.body or not forloop.first %}| {% endif %}<a href="{% url 'resources:attachment' attachment.id %}">{{ attachment.format }}</a>
{% endfor %}
]</p>
{% empty %}
<p>There were no resources found.</p>
{% endfor %}

{% if is_paginated %}
<p class="links">[
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">Previous</a> |
{% endif %}
Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
{% if page_obj.has_next %}
| <a href="?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}
]</p>
{% endif %}
</div>
