<h3>{{ meeting.date|date:"jS F, Y" }}</h3>

{% regroup meeting.roles.all by role as roles %}
{% for role_type in roles %}
{% regroup role_type.list by location as role_location %}
{% for location in role_location %}
{% regroup location.list by description as role_description %}
{% for description in role_description %}
<p><strong>{{ role_type.grouper }}:</strong>
{% for role in description.list %}
{% if not role.is_guest %}<a href="{% url 'roster:person' role.person.id %}">{% endif %}{{ role.name }}{% if not role.is_guest %}</a>{% endif %}{% if not forloop.last %}, {% endif %}
{% if role.description and forloop.last %}<cite>({{ role.description }})</cite>{% endif %}
{% if location.grouper %}at {{ location.grouper }}{% endif %}
{% endfor %}
</p>
{% endfor %}{% endfor %}{% endfor %}
