<h3>{{ meeting.date|date:"jS F, Y" }}</h3>

{% regroup meeting.roles.all by location as role_location %}
{% for location in role_location %}
{% for role in location.list %}
<p><strong>{{ role.name }}:</strong>
{% for person in role.people.all %}
<a href="{% url 'roster:person' person.id %}">{{ person.fullname }}</a>{% if not forloop.last %}, {% endif %}
{% empty %}
{% if role.guest %}{{ role.guest }}{% endif %}
{% endfor %}
{% if role.description %}<cite>({{ role.description }})</cite>{% endif %}
{% if role.location %}at {{ role.location }}{% endif %}
</p>
{% endfor %}{% endfor %}
