{% extends "members/base.html" %}

{% block title %}{{ block.super }}: {{ title }}{% endblock title %}

{% block heading %}{{ title }}{% endblock heading %}

{% block content %}

<p>If you have set up your own account and forgotten your password, enter your email address below, and we'll email instructions for setting a new one.</p>

<form action="" method="post">
{% csrf_token %}

{% if form.email.errors %}{{ form.old_password.errors }}{% endif %}
<p>{{ form.email.label_tag }} {{ form.email }} <input type="submit" value="Reset my password" /></p>

</form>

{% endblock content %}
