{% extends "members/base.html" %}

{% block title %}{{ block.super }}: {{ title }}{% endblock title %}

{% block heading %}{{ title }}{% endblock heading %}

{% block content %}

{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">
{% csrf_token %}

<table class="passwd">
{% if form.new_password1.errors %}<tr><td colspan="2">{{ form.new_password1.errors }}</td></tr>{% endif %}
<tr>
<td>{{ form.new_password1.label_tag }}</td>
<td>{{ form.new_password1 }}</td>
</tr>
{% if form.new_password2.errors %}<tr><td colspan="2">{{ form.new_password2.errors }}</td></tr>{% endif %}
<tr>
<td>{{ form.new_password2.label_tag }}</td>
<td>{{ form.new_password2 }}</td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="Change my password" /></td>
</tr>
</table>

</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

<p class="links">[ <a href="{% url "members:index" %}">Back Home</a> ]</p>

{% endif %}

{% endblock content %}
