{% extends "site/base.html" %}
{% load static %}
{% load markup %}
{% load smartquote %}

{% block stylesheets %}
<link type="text/css" href="{% static 'style/titlepage.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'style/titlepage.css' %}" rel="preload" as="style" />
{% endblock stylesheets %}

{% block body %}
{% include "site/header.html" %}

{% include "site/messages.html" %}

<main itemprop="mainEntity" itemscope itemtype="http://schema.org/WebPageElement">
<meta itemprop="name" content="{{ site.name }}" />

{% if splashes_above %}{% include "splash/splash.html" with splashes=splashes_above %}{% endif %}

{{ flatpage.content|markdown:"extra,smarty" }}

{% include "site/navbar.html" %}

{% if splashes_below %}{% include "splash/splash.html" with splashes=splashes_below %}{% endif %}

<blockquote>
<p>You are the light of the world. A city set on a hill cannot be hidden.</p>
<cite>Matthew 5:14 ESV</cite>
</blockquote>
</main>

{% endblock body %}
