<p>The following resources are available for Members and Friends of The Point. If you have any comments or suggestions for improvements or the usefulness of this resource, please contact the <a href="mailto:webmaster@thepoint.org.au">webmaster</a>.</p>

<ul style="line-height: 200%;">
<li><strong><a href="{% url "directory:index" %}">Members Directory</a></strong> Directory of family and friends.</li>
<li><strong><a href="{% url "pages:calendar" %}">Event Calendar</a></strong> A calendar of church events.</li>
<li><strong><a href="{% url "roster:index" %}">Sunday Morning Roster</a></strong> Roster for Sunday morning meetings.</li>
<li><strong><a href="{% url "library:index" %}">Library</a></strong> Search the church library.</li>
<li><strong><a href="{% url "poi:index" %}">Points of Interest</a></strong> Read past issues of the Sunday newsletter.</li>
<li><strong><a href="{% url "members:create" %}">Create Account</a></strong> Create a personal account for access to member functions. Note, you must be a current member of The Point to create an account.</li>
</ul>
