{% extends "flatpages/default.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'style/contact.css' %}" />
{% endblock stylesheets %}

{% block content %}
{% if flatpage.content %}
{{ flatpage.content }}
{% else %}
<div id="contact">

<img src="{% static 'style/building.jpg' %}"/>

<p>For more information, please email <a href="mailto:leaders@thepoint.org.au">the leaders</a>, or:</p>

<p>Email <a href="mailto:shepherds@thepoint.org.au">all shepherds/elders</a>, or:</p>

<ul>
<li><a href="mailto:davidc@thepoint.org.au">David Clark</a></li>
<li><a href="mailto:peters@thepoint.org.au">Peter Searson</a></li>
<li><a href="mailto:stevew@thepoint.org.au">Steve Wilson</a></li>
</ul>

<p>Email <a href="mailto:stewards@thepoint.org.au">all stewards/deacons</a>, or:</p>

<ul>
<li><a href="mailto:petera@thepoint.org.au">Peter Amos</a></li>
<li><a href="mailto:arthurb@thepoint.org.au">Arthur Bowell</a></li>
<li><a href="mailto:johane@thepoint.org.au">Johan Engelbrecht</a></li>
</ul>

<p>Or send mail to:</p>

<p style="margin-left: 2rem;">PO Box 1270<br />
Capalaba, QLD<br />
4157</p>

<p>We meet every Sunday at 9:30am at the Wellington Point Community Hall:</p>

<p style="margin-left: 2rem;">Birkdale Road, Wellington Point<br />
Brisbane, QLD, Australia<br />
<a href="https://www.google.com.au/maps/place/Wellington+Point+Recreation+Hall/@-27.5009334,153.2215963,15z/data=!4m5!1m2!2m1!1swellington+point+community+hall!3m1!1s0x6b9160c15f2a70e1:0x7959bcc89cc729a8">Google Maps</a></p>

<p>Please direct any feedback on this website to the <a href="mailto:webmaster@thepoint.org.au">webmaster</a>.</p>

</div>
{% endif %}
{% endblock content %}
