{% extends "flatpages/default.html" %}
{% load staticfiles %}

{% block content %}
{% if flatpage.content %}
{{ flatpage.content }}
{% else %}
<p>© The Point Church (<a href="http://www.thepoint.org.au/">www.thepoint.org.au</a>) 2014-{% now "Y" %}. Permission is given to anyone wishing to reproduce any article or resource on this website for non-commercial purposes only, provided that no alteration whatsoever is made to the text of any article or resource copied (in its entirety or in part) and credit is clearly given to the author and The Point Church in the form of the following statement which is to be prominently displayed:</p>

<blockquote>[Name of author]. Title of article. © The Point Church (www.thepoint.org.au) [year published online]; Used by permission. All rights reserved.</blockquote>

<p>Unless otherwise indicated, all Scripture quotations are from The ESV® Bible (The Holy Bible, English Standard Version®), copyright © 2001 by Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights reserved.</p>

{% endif %}
{% endblock content %}
