{% extends "flatpages/default.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'style/titlepage.css' %}" />
{% endblock stylesheets %}

{% block content %}
{% if flatpage.content %}
{{ flatpage.content }}
{% else %}
<img src="{% static 'style/welcome.jpg' %}"/>
<p>We hope you find the material here useful, thought provoking and challenging … but most of all we hope you find it to be a source of blessing and bread for your journey with God.</p>

<blockquote>
<p>The grace of the Lord Jesus Christ and the love of God and the fellowship of the Holy Spirit be with you.</p>
<p class="attrib">2 Corinthians 13:14 ESV</p>
</blockquote>
{% endif %}
{% endblock content %}
