p#author {
    text-align: right;
}

p.option {
    color: rgb(150,150,150);
    padding-left: 2rem;
}

p.intro {
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
    padding: 0.5rem;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p.pull {
    padding: 1rem;
    margin: 1.5rem;
    background: rgb(225,225,225);
    background: rgba(0,0,0,0.1);
}

article > p, article > blockquote, article > ul, article > ol, article > dl, article > form, article > table {
    margin: 0.8rem;
}

main > p, main > blockquote, main > ul, main > ol, main > dl, main > form, main > table {
    margin: 2rem 5rem;
}

table > p, table > blockquote, table > ul, table > ol, table > dl, table > form {
    margin: 1rem;
}

article > header > h2 {
    margin: inherit 0.8rem;
}

article > header > h2:first-child {
    margin-top: 0;
}

article > header > h2 > a:hover {
    text-decoration: none;
}

article p {
    margin: 0.8rem;
}

article > header > p.metadata, article > footer > p.links {
    margin-top: 0.2rem;
    margin-bottom: 0;
}

article > footer > p.links {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

@media screen and (min-width: 36em) {
    article > header > h2 {
        margin: 2rem;
        margin-bottom: inherit;
    }

    article > blockquote, article > ul, article > ol, article > dl, article > form, article > table {
        margin: 2rem 5rem;
    }

    article > p {
        margin: 1rem 5rem;
    }
}

@media print {
    article > p, article > blockquote, article > ul, article > ol, article > dl, article > form, article > table {
        margin: 16pt 0;
    }

    article > header > p.metadata {
        font-size: 9pt;
        margin-top: 0;
    }
}

@media (prefers-color-scheme: dark) {
    p.option {
        color: rgb(100,100,100);
    }

    p.pull {
        background: rgb(30,30,30);
        background: rgba(255,255,255,0.1);
    }
}
