{% extends "directory/index.html" %}

{% block instructions %}
<p>This directory of family and friends of The Point is intended to facilitate the spiritual growth of our relationships and spiritual service toward God and one another. May the Lord bless our endeavours to become a church of His intent and design to His glory and honour.</p>

<p>Please direct all feedback and enquiries regarding the directory to <a href="mailto:{{ directory_email }}">{{ directory_email }}</a>.</p>
{% endblock instructions %}
