{% extends "newsletter/base.html" %}
{% load markup %}

{% block content %}

{% if publication.description %}
{{ publication.description|markdown:"safe,smarty" }}
<h3>Issues</h3>
{% endif %}

{% for issue in issue_list %}{% if forloop.first %}<ul>{% endif %}
<li><strong><a href="{% url 'newsletter:issue' issue.date %}">{{ issue.date|date:"jS F, Y" }}</a></strong>{% if issue.description %}{{ issue.description|markdown:"safe,smarty" }}{% endif %}</li>
{% if forloop.last %}<ul>{% endif %}{% empty %}
<p>There are currently no issues available for this publication.</p>
{% endfor %}

{% if is_paginated %}
<p class="links">[
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">Previous</a> |
{% endif %}
Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
{% if page_obj.has_next %}
| <a href="?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}
]</p>
{% endif %}

{% endblock content %}
