{% load i18n %}
{% if builder_templates %}
<p>{% translate 'Choose a meeting template to create' %}:</p>
<form action="" method="get">
<select name="template">
{% for template in builder_templates %}
<option value="{{ template.id }}">{{ template.name }}</option>
{% endfor %}
</select>
<input type="hidden" name="by_age" value="1">
<input type="submit" value="{% translate 'create'|capfirst %}">
</form>
{% else %}
<p class="error">{% url 'admin:roster_meetingtemplate_add' as create_url %}{% blocktranslate %}No meeting templates found. You must <a href="{{ create_url }}">create a template</a> before using the Roster Builder.{% endblocktranslate %}</p>
{% endif %}
