{% load i18n smartquote %}
<div itemscope itemtype="https://schema.org/Event">
<h3><time itemprop="startDate name" datetime="{{ meeting.date|date:"Y-m-d" }}">{{ meeting.date|date:"jS F, Y" }}</time></h3>

{% regroup meeting.roles.all by location as role_location %}
{% for location in role_location %}
{% for role in location.list %}
<p itemprop="subEvent" itemscope itemtype="https://schema.org/Event"><strong><span itemprop="name description">{{ role.name|smartquote }}</span>:</strong>
{% for person in role.people.all %}
<span itemprop="contributor" itemscope itemtype="https://schema.org/Person"><a href="{% url 'roster:person' person.id %}"><span itemprop="name">{{ person.fullname|smartquote }}</span></a></span>{% if not forloop.last %}, {% endif %}
{% empty %}
{% if role.guest %}{{ role.guest|smartquote }}{% endif %}
{% endfor %}
{% if role.description %}<cite>({{ role.description|smartquote }})</cite>{% endif %}
{% if role.location %}{% translate 'at' %} {{ role.location|smartquote }}{% endif %}
<meta itemprop="startDate" content="{{ meeting.date|date:"Y-m-d" }}{% if role.role.start_time %}T{{ role.role.start_time|date:"H:i:s" }}+1000{% endif %}" />
<meta itemprop="location" content="{% if role.location %}{{ role.location }}{% else %}{{ site.name }}{% endif %}" />
</p>
{% endfor %}{% endfor %}
</div>
