{% extends "members/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {{ title }}{% endblock title %}

{% block heading %}{{ title }}{% endblock heading %}

{% block content %}

<form action="{{ request.path }}" method="post">
{% csrf_token %}
{% if form.errors %}
<p class="error">{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}</p>
{% endif %}

<p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

<table class="passwd">
{% if form.old_password.errors %}<tr><td colspan="2">{{ form.old_password.errors }}</td></tr>{% endif %}
<tr>
<td>{{ form.old_password.label_tag }}</td>
<td>{{ form.old_password }}</td>
</tr>
{% if form.new_password1.errors %}<tr><td colspan="2">{{ form.new_password1.errors }}</td></tr>{% endif %}
<tr>
<td>{{ form.new_password1.label_tag }}</td>
<td>{{ form.new_password1 }}</td>
</tr>
{% if form.new_password2.errors %}<tr><td colspan="2">{{ form.new_password2.errors }}</td></tr>{% endif %}
<tr>
<td>{{ form.new_password2.label_tag }}</td>
<td>{{ form.new_password2 }}</td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="{% translate 'Change my password' %}" /></td>
</tr>
</table>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>

{% endblock content %}
