<p>The following resources are available for Members and Friends of The Point. If you have any comments or suggestions for improvements or the usefulness of this resource, please contact the <a href="mailto:webmaster@thepoint.org.au">webmaster</a>.</p>

<ul>
<li><a href="{% url "directory:index" %}">Members Directory</a> Directory of family and friends.</li>
<li><a href="{% url "roster:index" %}">Sunday Morning Roster</a> Roster for Sunday morning meetings.</li>
<li><a href="{% url "members:create" %}">Create Account</a> Create a personal account for access to member functions. Note, you must be a current member of The Point to create an account.</li>
</ul>
