{% extends "flatpages/default.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'style/titlepage.css' %}" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gentium+Book+Basic.css" />
{% endblock stylesheets %}

{% block content %}
{% if flatpage.content %}
{{ flatpage.content }}
{% else %}
<p>We hope you find the information here useful, interesting and challenging &hellip; but most of all we hope you find it to be a source of blessing to you and bread for your journey with God.</p>

<p>Grace and Peace</p>
{% endif %}
{% endblock content %}
