{% extends "roster/pdf_base.html" %}
{% block "stylesheet" %}
{{ block.super }}
body {
    font-family: "Fira Sans";
    font-size: 11pt;
}

@page {
    @bottom-left {
        font-family: "Fira Sans";
        font-size: 10pt;
        font-weight: 200;
        margin-bottom: 1cm;
        content: "{{ site_name }} Assembly Roster {{ year }}";
    }

    @bottom-right {
        font-family: "Fira Sans";
        font-size: 10pt;
        font-weight: 200;
        margin-bottom: 1.5cm;
        content: counter(page);
    }
}

h1 {
    font-size: 24pt;
    font-weight: 200;
}

h1 > .year {
    font-size: 300%;
    display: block;
}

h2 {
    font-size: 24pt;
    font-weight: normal;
}

h3 {
    font-size: 12pt;
    margin-bottom: 0.5em;
}

p, li {
    line-height: 1.5;
}

blockquote:after {
    content: "\2013 \2003" attr(cite);
    content: attr(cite);
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 0.9rem;
}

ul {
    margin: 2em 0;
}

li {
    margin: 1em;
}

strong, b, .strong {
    font-weight: 600;
}

.emphasis {
    font-style: italic;
}

.role {
    font-weight: 600;
}

.role_1 {
    color: rgb(0,0,153);
}

.role_2 {
    color: rgb(255,153,0);
}

.role_4 {
    color: rgb(75,172,198);
}

.role_8 {
    color: rgb(128,0,128);
}

.role_14 {
    color: rgb(192,0,0);
}

.meeting {
    margin: 0.7em 0;
}

.meeting > p {
    margin: 0.1em 0 0;
    line-height: initial;
}

.meeting > p.remote {
    color: rgb(255,0,0);
    margin: 0.5em 0 0;
}
{% endblock "stylesheet" %}
{% block "preamble" %}
<img src="data:image/jpg;base64,
/9j/4AAQSkZJRgABAQEAXwBgAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsK
CwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQU
FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wgARCADIAMgDAREA
AhEBAxEB/8QAHQABAAICAwEBAAAAAAAAAAAAAAcIAwYCBAUBCf/EABoBAQADAQEBAAAAAAAAAAAA
AAADBAUBAgb/2gAMAwEAAhADEAAAAbUgAAAAAAGq+Zdq9RAAAAAAAAAAAfCnNba2v1DZqfL5AAAA
AAAAAA6x5xWuvrQlFf8Ae7HfG38/3O8AAAAAAAAA6hpZCkGnB0OlxLtWsOQ/dYAAAAAAAADAaIQH
BqQ7DpcS8VrBkD3XAAAAAA4HMAAwmiEAwasOQ6Ody+Fv5/a/UQAAGMh0xlZCzZ5xWw/Q4AA8vnYt
5LDcOhFMV87dOzhyTJVyAAAxnQPJPz/P0VPLKJE/GiFgyJCOOd8urved5l6r1jMhiPW749J5mWWl
ZifLAAGpn58H6WHglEi7BS4m4jE7kV3UoNXzee/pxPjoyuY3Re+38/uHqEAYjRTyTczzjXj2DyT2
SNyHoNPSodH6YHchwMboyufC1ljInCWiAAAAAOiaMV9r60YxXuLoHE7vfHf756HPfm89+32O+dv5
/wBLvkDwCspKRH5aAzgwlYCXCF4NLE7vElWLYrse8k82O5YaxkStLQzHu894Oe8rmz+oh8NZKEls
Svhakj88Ul8r8TeQHxuvWoHoeLEF987PX15xkpTBNn4z1DYjmADXygBek98qcSQR2b4QGW5KfFxi
mRL/AInhF3s1dyyk+ZYCbO4nwzHIA+GmELkxG5EemjncJIIaJHI2JKIcOlHciDzJ6UV+eZKdj58w
AAAYQczmcDGZTGADGaIQTBpw3DpY3bHTZllZ8wAAADwiPjKewaqb4beADEaGQHBqRBDo43bAzZ1i
J8qEywYAANIKcF2jgaYQQb6ewTSRESeRwdogiK7ovi3j8Tb7Nm2Plp00LQm0EkgHEg0ruX7OB0io
JKRXot2U9LulISyJU7zLt8Olqs2bNUdywU2dSYuEVZL7AA1QhExm3GxkNEikZk0EJGzGmEhEE+LH
Xg0/ImoSx2OffdevZPhCRbQ7IB8OkYDIcjGZTEdo6ZkOBpBA0GpFUWh8ebn2cTePcHIHM7wAAAAA
ABiNEIEg1Imi0LVz5E0y0gAAAAAAAABgNENAjtSB6g37145gAAAAAAAAAwGmHoGyGYAAAAAAAAAA
+GAzHIAAAA//xAAvEAAABgECAwcDBQEAAAAAAAABAgMEBQYABxESExQVICEwMjNAEBYiIyQlMTY0
/9oACAEBAAEFAvPd2mKYP/kaopcNqo1+6UwGAwfEXNwkbutx1aJ/NHEUhh5t7ASDN2k/a/Dch+lx
8B9TB5ztQwbioAn0/UBSpfDW9tX16jK8Tw34GEwirQmxmtT805yph3VfQt69RU9n3qwxBKaqKcyt
d85uAt37RkRLWVy4S2ToyqlXXE1XZSAxyyi5rl3X71uzSVskXzLzINZBwYvFhg2NSJdkatFUKfvq
F4yotOWL8AKs18bUs05h35eEZLmJ3mfq8tIoaYWyS+4r1cgqkXWXf3UznJt7VZ2VHnuNilwNsHbO
EBUDYcbSDlpjeel0RrGpS5HfellSInZLFCwJLpuCyfgZZcv37Iinw6eqlSuOpsQvKxFFloRJvPnY
pSchzCOzn3OA/hvuYfA/COcvgKTwOocRGqSjWUhO4oYSlloVvNnTp0STIqHZQ6UpHkl0kqbEFwkK
3ZIpUyHxWN6BB5BMHytiRRhZQy/MUBUhMA3EQpi8RTcSomHALvnCXNilzTmSgyM/Md+0YPHUFPaX
4eLAACm/rCGEC8Rt28O7fodiP0012KiGfgAQTpNhKR0ihKs/rJuHXTSerk1FPyStuXZNtY3TOQQX
I5Q+iipUstdzszSwlExk72yO8lI/T4441p0W1y7R6RJZAjdycDFHNOh/iMJtiMcwcFVqcOsdjW2E
Y/8ArIJgmN18LU5scZCsvtySvdjnrGxokJX7LZLclM36wU6TRmU7DBT2o8xCvDrn6Sfv8jGSD6Zs
LxCuaiu3MrfUDJqQBjlcqIEK00zT6iPFoIZ0w404k8KO4dyTy6DvaYpuo4ihS6dLV8ip1NMDJuaZ
q4JeTpszUb07Uf8A1qrL9vqEG1qO2BNumQBvd7/E9Z98yaqR9ITALQUwzlBnJDADbuD4ZNFM+RU0
tj3jivwisVi5OYnJRSL9BjRk4VVPT5tIv5AhTNHWmbKVdpRirNi60zZSjtvHKRjf7BYdfbjizMVo
wTVcvSu80eEvk8omckmFKBfoJANnIJgFAM5RRzkkzlEzkkxVIvAsmXmajB+5JuU4DxKaQ+DnyZWc
YQaRNTY12dTUEjcIK9xFhcT+qDevq1SdGyQncV9C3uajf9ZCmMJNxLpAOz+Skez0EtXkHst3rXYg
r0NWGS98tbWKBmgsRZvjWrla2HV3cXNSu0bXKaw1kiHTh5IosWb3V2HbKS042hW7bVGKlJKbmmsM
Ngn42zOmYM3rnpSokqtnb1NeOkySzCMUIhe5TVuLYKVa+xtrU+pv6vrBSVr2mc2jB2gB3AxAPjkg
EQ1c97T5qDaoakokRtMSZVOAs35Xx0c6R6OXju0+cwR9cRTVfx70TrwK3UTlBR7ZelYJRTRmgm8v
c63BSL0p/wBp3HrUxD2DTljMqxTC6V1IsxclAi28xzLXVZq2OqtHy0HE22hydjnIpORbxdt0+dyc
qwjLQ/TgdPpuFl50sg7aJV15W3Y8tk6WjEl16WpPkfPFJFKPYaezqM086x7HVShztel2xlTofUQ3
w7NM+dnJ4VimXDsyHzoE8FoQS9AnnIKJOzk9xYpjgsUwByzT5moCZUHpTAONkzu1qpS0q2n0CeAx
TKJmRDim0Imbz1fQuO6moe/WNiKPFqTR+yjfEW9tX1zVX7clI2AZpOChwh8Rb2zJCY7dpviaYED4
ohuANyBgFAPK/8QAKhEAAgEDAgUDBAMAAAAAAAAAAQIDAAQRMUAQEhMiMiEwMyBBUVIUQlD/2gAI
AQMBAT8B98ROw5gNza/HU9vnvTcWfgeDosgxRBU4O2s9GocLj5DtrMehPG4OZDtrPxI4zfIdoFJ0
royfirVGQHI4zo3UJxs9KibKZ+oqDrRjQ6ipbUYymwi6QXupMY9PZlUq5z79tGrLzEVj2blZM5bT
37Q9h+oyKpwxrqp+1BgdDwkHMpFMpQ4PvWrBUYmnu/1FNcSN96t5MRlmpblWblXheeY487fmurJ+
aaVmHKdir9hWoiVbIFRu7+Qq88hto/Bqg869KvNRtoF5gRX8Y/Y1HH0xV5/XbWejcbzQbaz0PG80
G2t5RHkGlueduUCnmVNanm6gxjbRDmbFOip3Ck9X9auRhRtoVbPMtdzDuFNAw8akMnKA+2sxkGiK
IA9TUsvU21noaOFGTU8/P2rpt45+kpAouxGCf9v/xAAjEQABAwQDAAMBAQAAAAAAAAABAAIRAxAx
QBIhMCBBUVBx/9oACAECAQE/AffkNl+U1/0dipmwMa9S7Ma1S7ca1S7cavIJ5m7T1qOz85Ka/wDd
AzPSPi0yPd58mEe9TPyglQVFggZ9njtCn+rgE8d9LhFqeLwFxCgDRI7lOwiAMKnrHITsWp6zlzRM
qnrVL09apenrPbKLIQaSmtjWOEDKOEzWdH2v8QchH1rVLtbGtUs1sdnXLZKgf2//xABLEAABAgQD
AwYJBgsIAwAAAAABAgMABBESBRMhIjFBFDJRYXGxECAwQFJygZGhQlNigsHRFRYkMzRDRGNzkrIG
IyU1VHSi4YPC8P/aAAgBAQAGPwLy/IpidQzM6bCuvd5y4eC2kGEYbibwLXNamFHm9R6oqDUdXm1I
lF058vTTqUYN1VDXpEMTTSnMpFLmyo0UnohqYYVe04m5J80PgwtXG1Y+Iita9VYJoVCu4qiRpuSC
n/kfNDBiSapzUFVe0/8AUfVrxgaa7uMSCVChUm/3ny1VKCR1+MYMSTlR+bKde2NnUwrhTh0xhh/c
JHw8hWMKaw16Zl7pi15yX+SnpMU/GTFq+un7oEqcXm7c7LrfrvpFv4yYsD64+6MQlsWmp4q5Va27
mFKikcR1Q1KuTL0whueShOc4VfL8ar77bPrqAj9OZ9iolCxMNupSk3WUMJqK9gg7KfdSkSDXKmQ6
lFpbLgqNeiNlQV2HxyI1hMNf7wf1xcIRDuQAp4T1UBW6t+kPTDn9oHzNpSVZLabGuwawxIPzTkxL
P1FrqrrTThAdaQHZl1VjaVbu0w5O45jLoUVlKJdqYyQkdNBDzGGYu/MSdARc9eKHhCHgtRz0he3r
ABAGnojWDVXRuAjQbukRqQkV6BA6D1x+TvOMXAVylqFYq1iMwCNeeowmWxYhTKtA9bRSe3q8e5xa
UJGtVGkMOk0RykKr1XRVpxLg6UGsAk0HSYzbxZy8G+ulL4dcSQpFijUHqiRUpQQKq1PYYZfYSXVS
yypSU61SeMOSeLSsvmXXNzDzdfYYVyMyCWCBaW0oMFLy7lClKU3QN9e0RxP1o3/EGOdUesI7PpQB
Sv1YG/8Al4QonXSmqYllSqja2kIKFmqkHoPi1GsIVOSjT5RzcxNaRtYTKq/8cOcilG5W/nBsUrGT
MsIearW1YqIorCZVX1IMvKSrbEure2kaGLVYRLHrshCJdAaabFEpTuEFb+HS61neq2lfdGXKy7Mu
LAqoTqIKlOqCirfdBFdPWjcpRr0mKbhd1xzd+iaExXXhCbj18IG18AYVU/8AERyeTWWZt01Wy8uq
jT4eVPgZV6TQG+nGE7KtaaXRb0fSEaa/WMa3aq4LjdoDvLkZkvKLdSNCU68I/wAvmK9Tcf3rDqNK
C9qnCDv/AJYln3FuIS05dVq26G5qWXey4Kg+J/h65cTFf2mttPZExJuyciXWV2Epvp3w3MNs4Qq9
AWG7l1gy2LYYluxVrmSTVPsMNvNm5txIUk9I8O0YclpOT/JQqjYDN+YO2G1OIy3FJBUj0T0Rhzbb
anVuIUm1MJVNvpRxtbFT74/R809LhrDbbCW2E8nvPADVUKQmZKnAm+qQbRSN5h8VqQ99g8FFAEdB
jak5dXa0ISo4cxVJrsopDk3KtZDjgopKDRHu8QUjEv4sSjT76kPCXbNgbUa7PCHppqVXKyry65rw
oAn7YYCwXbUhplob1UELmmXJLC5MKtTc2XCqG2MRblJ9hYuStoFFwhGIYekOqWNllxVmvQTDsjyK
XlnkbzcXIDgSlyYLQVYVWgqpCpc4fLMTDYpeVFygMIdwzDUNNFNbnyL19ieENSWIst0dXl3oFpSY
MwEqdJYU1QEUH/1YdsZL9zZBAVbpC3LCw5WgTmhdR0xOabnR3eREYl/FiRVdpkI/pgneYw57UtUU
n2wkDntOqCowwfrKue7SELcBGa6paOyJj1Ud0Mr6UJ7omh1J7ollD5tPdCUjdy//AN4p+7d+yJpO
tVMKpSNpKmwa76iMST0LQfgfI5bT7ksqv5xsAn4wt6YnZxbizcpZt1+ENpGKzU1LtpsSy8E0Hwgi
Fy04yHmFb0mHHMKxacksznNWpWkwJvE5mYxJwbg7RKfcI5OwTLUFqS2Bs9kLmJufnHHl71m37oXL
fhKZmKpCUOOJRVvs0hcxNz8448vevZ+6Mtc6/PpoAnOCdkDsEKmeWTjb+ZmBQt0Na9ESbbilTey5
et2gKgaaaQFofmWD9GlR7YbZCFllO4uL16yTGLAAJ1aNAfW8jujmxp4NRG7wbo5sbo5sboOkSGny
FxvFa8YKtLuuMTFKbDX2+SzJ6abl0ndcdT7IKZGVn8Qp/p2KxdMYJizCPSVL6d8cnlH1F+lctaCD
AaewydDpFU5gCQfjDM+WeT5hOxdXcfFMGJLXTLVGzte+D6PVGJDjlo7zGYJd6a1pYwKqiWkZbDnb
nXg0VPqCbdabvHmZsALWgbIPpcIH4QdU9oXXCTwHCEssBLDSdyECgit1YmsaQtCc5nLykopQ8TGG
E/Nr74kWl5kzNUUciXTcoanf0Qlp9iYlKml6wCB2wZpwqU0BWraSrujKbamn3a225dvfCHpnNtV8
22V90S8hKNzDq3lWXlNoEXTSlgHWqG1K7oRkOrbyW1G91ACYLbK3KpQVXFFEmkAvuJaChpXf7omH
3JKdW04gIuDYTTWJeeYzEtPagOChhpbqghtM9UqVuG1BDUvMzjY/XITRB7CYUzL3szCRdlOjWnV4
hidaaBU4mjgSONIbVMKy2XklkqPCu7wawaRhnqr7xEm60kILlxWQNTrDxQkJvQlZp00jDDf+zN/0
xMdc0n7I1VsxJU+dV3GMRQpWzkOd0KzEBYQ2pQCt1YFWGSu07QRQ0puhLjxucVcQT6VNIxOSmVuO
MOy5SsE/SESsmxXKZSEJrvhLTib21zxBB47UTss4lJayVUTTQaRK+qvu8W9MKfl18gmVamgqhXs4
QGZaalJ+XTzUOrrT36xTkGGNH0lOn74VMYtiLTgtomWl26IHXXeYYOVKy6WQUgZ9a/CGcOnGJfk7
V1H23qn3Uhc1LKYDRQlIvXQ7oZlsQl2WshtLaFsu3X09mkOYhh7rZLu0ptarSD1Rk4tiKWJa2hyq
F1fVXhDGINCUdyVVCFPUr8Icabl5dLzzakuVf0RXo01hC3nJVWYgi3NppDC2F1IFVahQBjOkphLC
q1y3DSh6jD65JGHvPFFq3HV8K9UMkpl5yf8Al0Vlo9kIxNPI1OIfzssu9dYfS+01LzbiFpCEOXJ3
aawziDaJR8oqMsvUrX2Q2XkBt0jaQk1APb4u7xaeC06+EwYlOjLPfGqgvfxhLLSSt5ZoANaw6ouq
efeAvruT1DwaRUxUeYGDEpTg0eNOMNsshanHNlKQRqYTPzxvnfkorUN/9+amDEs+49aw2m1TY3q1
gPolGkO+mEa+bGDGvnG7yf8A/8QAKRABAAICAgEDBAMBAAMAAAAAAQARITFBUWFxgaEQIJGxMEDB
8NHh8f/aAAgBAQABPyH+cgqIznuVX9dag3EsPwbj/I3bSH0vPY8QkJtKv+q7pBuQA2Oda74HuSk7
uXR/z7R2tOsMocauG1GDyP8AUugJaeY4NUuN4pIVWrOD9sML/EnmUDDAm9f1A3AVAHlTNFErrHrl
kyCrgolgB0RcKWlVhE+P5soQq3Wfv3ypicGgL1fvzB4hDz/5gNY1mjw9YzrdX/Sn+fwWj4iECjiW
nB15mRxAXplnRuibittP6RHESj3QnaWU+KKAG/uQAkw3v5lwXt9kG0IlRb5jkog4c/hzAvJaldBm
IW6LW7T92R9/kSXGxKxKlOQMhjgqUbqWoIbVVl4uF2WvxF4vmykDnZQSKcmpwcOJat8BKihGmckF
/wDUf4AcUZTfHZmWcJeDLDFrM0Bxf+lzzIgUqAZZJx7SzEHiPzE4VszpzBEHAwNN1UEczHG8sST5
bMsB4PlxBs+4sRFDHzDj39uDLc8cnI+IwoJylEXy+jgc31DY3Rk2m6dZozVMlIGAMjuqJdIqkNO2
48TFZWiNcALdzLAaGQprWJavduItRBa3j1Wtx3bConY7YzvFDRFqvaurb9v+xEXKxYW/1gsV5B0Q
O8fAmJibSyBs+1mNuoKlU5BuvxBKE9E1x9zaauMqabYNMxpGbxCNWyU/EIUpiVRAeh6JpEs3+rCY
0ZbTZ5bqOagtZc5yTKhqoVz+IHdZ0a/dx9upYOBzLy03yg3rzLDqTQevWUKjhF5VjuaQbcemJiMB
nQsOrdaJgU0Luj7qlfSpUqVDcgvFoqBHFdrleauoPffsxTROTV7y3ZZqi6ivEU7gFo5ncYHEb8Re
oRFy2IdE616zeplvXgKVshQpYxprmXvaLgDVDiavEKvyfVaJYFD6Pu73FBgGsrqca8lWJYZav3mc
VsJ+dl/mFjIXkLH6iXREIJlo7vV41MuDfu0zbwwJeIOkc/mA5Iwuusor9zP5ZTlPbUPygoVixa9o
z/FS2NufibsFwBn3hNogNmvpNth7CxmVe7s/5ADSBDXsNxCqCFP1+qWVHnGFtbt+iXetEAisCmZL
+tWi/KjRE+Tr4zLwdsRehXI3WTXeJsBCKOaeE6RnQHKa5zKqYwK7IWVo+Jv7hSgpdNTOJ8BQcODN
HEIV3iluzD5jrZA9dos0lyiSDQBVW8+yCVIvsVW2ygr3GEZVGOojyjY83vOKlPES0zPfbWu8t13k
fBGOlV/hLtcMVdG/wXH9fqJuVsbLbPhl9thA5/8ArK2S59JfwyrT/wBGC/8AJCeHP05soV+ERGmA
jsHP8D/YrHgQ3uyZigBqP6lS6wV5z5PDEcTxymV6+xUWJ6XNK+MEjK/5CnmBMBE04yBx6/RH03ql
7HhhgjBvYiSu1ooJ10+JgdPD06JUoV1QPFcRez0EI8Mve4quS4PjiBQZSx6iF+/UuKgvIsPVL2bU
6aOEJtzwL/QsQI58QtgU35yBx/A3FnWeBNKr6a4Z4MBoKi60zwItxngRrxmoNywsjoezqOnbss0R
sRRmy38TtK1av+KZ1EfidmOBFSqPypKXDsiPWoDKKwqN+I0UQB91Y2/UHPShwiG6OvuXzJvo4aeS
CkcLeTVyz5xtAubPMBNOHR5Jk5aP61KQitFpazC/399fs+srFo7D8iOL0WhiDbCq4mIMSqQmQWmX
zUu1eD4Rl7BqJzcPdAI3xIRs/EKQSzUdUWWejUIvm4n4gth6B8avNGpX1OF5eW/iUYc1KA8oo94I
3/bgO24o24LQdDcr6ggq/TdinthTgcv+zpcNzdcLFiacoB5YzcKpfOEXW6jC5KFH7MPSnJgJltp+
LhH8CcdLPiwgAjY5Eh9G4QCj6XGaXlRuZZWYOmssmWLW8nhCCclj8whE7F8SjKshBONrC/OMAZUN
BjDH5Bupk0xwRq5HkLC5VGKWFnTBAF4bodwlQwrBfDHYAaWB1RxUSUtX+79iWVOBviJpdtV28np+
JhklgjowHpcvnuYPwQ5x1do8lAp27TM3bDj4JNbVD3u5wEaHMsVHgeuCVaU4EVUhgz7WnUAj2ljW
E/LcuyC0ppN+qbQE1lj2XpEYm7VsLdStmmjoK8XNEEb+70IHmnLAbp7s6gaLqvP0XGCDbkEguq6h
oS1GtCxO4dXbHUK3AF+vc0GF/YApLm2rPUiF1cSySviWjaQPQka4pNqU2JWVkFiiS3fGLnlqWSwY
cnriWk9+5MYJePVbAZ8Fr8RZzbLhYldLgq3+gq+gC7AVNMiYUydRL5UGnks3zl7X/XGFGpyTId3p
uDm5QIHErT+tMCR1YgMD+sdTqN2TrSv4v//aAAwDAQACAAMAAAAQkkkkkkkhEkkkkkkkkkkEBkkk
kkkkkkkgFXckkkkkkkkkgqIkkkkkkkkkgFgMkkkkkkEkkggxkkkkAAAkknlsVkkkAkggEi/lBKAk
kggkgEb5YGkMkgEkkkm/u4ixkkgAAAkvWy4AxkAgAkEjZNskg0kgAEkAYmMwAEkkgkEkkg5ZkEkk
gEkAEkAV0kkkEEgAggEuLkkkkgEgEkghYgEkkggEgkEEwbgEkkgkAkgAltkAkkEAgEgAkOFAgkkA
kkEgACj8EkkkkkkkkAockkkkkkkkkkm8kkkkkkkkkkAAkkkkkkkkkkgAkkkkn//EACgRAQACAQMC
BQUBAQAAAAAAAAEAESExQEFxwTBRYYGREKHR8PFQsf/aAAgBAwEBPxDx89RuXj6LKqGeT8TTbqw8
ntCnSKXqxxrG2WLpAwGoav8A3G2q88/8/s1nEB5tn7qaawbIKH1dpodYJzlgxBqGkJaV0iJrshsM
IqTLOkzLxMk0ePWpgh+0Ry/LYIDrgprRAxOZxDJLl23HSBWkPOefHzANwoUEpZVMRq4lEqXrUtmY
utY5PHxXrLq5xc6xC8Sj9Jjwlro+Zpo+8yxQQyc3HJ5PGcCgSCYu6zyZ0jIbp/EBBcpJqvTu/Qay
QHRfMCKvA62Hz8+NbVcfVg5fMzlMc04K6Pfbanp3la3BRhuHL12xLeneF0MGOYXJ9e22B7hKKmhU
zXr22335FDWOs1/q7aoGGHAa8z5SqsK2wiiCIUkdTymmOe22TQuo2cTHLjiFtvccsxUN4CMwqg23
3caNAlP+7bsKyust0T/b/8QAHxEBAAICAgMBAQAAAAAAAAAAAQARMUAQITBBYSBQ/9oACAECAQE/
EPOg0u11bBg4R2QRLNbI5w62QcmjrZDzh1FDM+sJFPJVL03uCqfoUxAsMW60BcLX34QCvOo0Mvw0
aM+fB+glhPlFGTh0jAFnmZFRPaA+paSFC3jJz8Jb6gyzzV756MAaLMwmDsS7mLrOkZX2S/PfWyOc
nWyOc3WSqSha8JdW9Z1aJ0cTr0itdZUqOhgUphuusVJLgq0a5yICtE+4165cQJsP7f8A/8QAKRAB
AQACAgIBAwMFAQEAAAAAAREAITFBUWFxIIGREEChMLHB0fHh8P/aAAgBAQABPxD+vHhSGEDWoNNr
3g0px+2AbweDcreLEtQJIHd9/wBsf/2o0waHgK9B1sKrAiBPIn7XmSMdLuzeOxXu5JKjwSb/AG2M
woBNXTkWwMPOdqEUCmBrTHrF+a/QV/JwnSJ+0+xcXUJi2JxBoWzja4Z2QgQocpdUne/OD73jIVCJ
ZCa1vCgAxBoae/2kn6yC9uExrIiJUbLc9mFrVcAdaFRU3L3vIAOM1NcRO9azmtRGzUfKH7/1hqMC
UqYFe36v4+fz2K5NiipTQT/fHTx2ICWQkRX7QwVOZQUKxVwnaf4yynWev+hGcUFhikGAw9oCQzhc
HtPQpC9aV/fNW0yJ2GpZviXC7aS/+B/cyfMDKBbRVUNOJnwdmoU7kqH1ObY6Ncyi/bJMlBENs2fG
ONTKS6fYOPW+sgAa0u8A2cj8ZWwpN2hRfBw+MdMqQUY7CyhOEwlTDlKPx9ai6iYbAJgOQvWNETYP
JOAYckzyuj++K73inQTuoGdXBFO4qyEk4QJXvFrAhiCl6KWI8YjyjTHo20JoSqFxBha9hUAVQup2
uJE3s1NQVU0cO8QW6r5nLMVOeJkgX3wBdNYFP/pm1RdAPy2Xs/8ATKMciJCO2KqplR5bjyXXA4nz
kdmrBX2EDf21j3qAIENajqL24qE7g6tEQmrJzlFOnCAZVdgHk01gAiI7E7+oRvxEBtqMOdIomJPg
N3OOW91cbSYPakEN9rrLZCYJFOjQd8TDdhCmDOxnGRGmDkiFdbUMFLISKATstOlyl1nAAIqwlTra
amJdeEAbQPgxM0ZKUgIOkIfGNqBAWItaM0b3gtCBbkKQRpv0TzlFdMnaF8l/lM0hKwsHpoaOrjg0
Iku01Bzo35WN+M0OwUOTldepgWYKDbil3/8AW947FtESwQ3rm/f3jVMne42KoSPZH6ZUXjCpce0o
R4VH4zpF9bfnEitigDXlK/nGw1Fp0Hkyv2iTcc5c3Cqd0Rwo6OimcmSOpWHyuLdFaO8pU+3DbeC4
WwbpDesS95s3ZOyIFwUDgC8+KNzk+XD8TDqLowCpfweXAD1gIdRRHh4fHnIvZgEY0JdG9besKe73
bNDfk7fmaxRrWdzo255nxxg6FjAzn1HS1Pt5zpMRIgotsOnTsy6eyb1DMRQN261fqjwfjI8GTI8H
4yPB+Mh6MjwZCc6wAw58YMatLI0/BN+zIocm5WJD9h6XBEvTegQhNI1/3vQFL3WCK2Ty/jXLgToF
aEd0+knRMViABQMHnt7D3hzvoEim+djOrMClTyogrZNaG+ZrAy6TKKjYaGi/HnJe9p37abdcecLt
ywkK2Xh3sWYb7eMuURNiIkf1BF4MYEsbHoaOidYnFUR1LQUeSznjHtgEH7ERCf5YOfQs5isJ5gKc
LnErIYYHyI/rPg4uxFEw3I8l0jA/ySmS+ZRL6w/ZKUbynQA1Xgw6CBakgQGtMPlhzyAWWuROnjDf
JiJwNroUF1jP326Ri5ydJye8Lr4HOjtaBXwe8iGdsMGG/j9OKNAgeEdOLawKeXy5J9xoVCEIKGkR
whXX5UVllppDVZz+pMuEmCUtaxwx5k/LY0+WpjptPTp5ybN1oRBZWmzbLN4ZiV4pCmgAYMuhUM4p
AFegSSgezgy8N/0o2kdzyByNxSCUmJCgJXYNh5xEtajgSKtpMHOs68A1NXpydikLL9cFfQyu7O6p
VBE2g1E44zk5AUeE6ASCXnUxcBhCiaqCQDhRdPZhDQ8cd4vpC8pgMG4neO/ZorQdg5mf+Yx3r+2E
AZ7yf5fSdjtrPdxn0H+MUaaDjGgoQK2ZXdH38r7R/Lxjx7dbQZPYZF9MHTVfiP4wNGIZWGPStjTi
7Z5zgpVdy9GPNnHNdMkAODKvxL9y/wC8xN0ZEdJNPjxkPuUIj3ucv+MZBVxQBb27y5M4r0w4gGAI
+iqcBc0BeOByCY/FxDlihKqk85roNToHXohcOdymsWrYgRDg2y6TATAAAOBEMrFFPOCKUCe0BHK8
o93FBaq+QK0gSJMefKYmAEEAAIGNhY5GwYRJDXhiaaFpgDQmgDRidT0yEiSiHLh7y+BGFWFFxwuJ
ph98NAThlzm8SKt0Cfks5xtaK7krq72zQa1hKPAlO28S9e/6CARKOKFdfWf8HAkM+D9P5vTAeC+2
TjHrGia9zP8Ak5yn48/5OUFIa1gnCnhg8+lBS6bXrOACcGpQSWHz1gnqGlpOjpsxX7CQwE2O3nmd
/wBK9vDdx0V+wOSmmL33A++LRMoqnaaHzgcacVaqnD5wwZndrYspyLHzS1ElbovofT/FxX5WFABD
QzcpE3xj9Yd6lHTdItvbMnAYIp0Fo88+j5wZsogKgKivKfnOD7Ic0tBTU57MSVrFDSdpXSOPrNId
pqhR1WvoxTWRAsJ5eBELMMD82X4OX27cXEn3gqkzelQsXl0O3OczS86f/OAbFXUjaA+w+DCqNtes
umeWpmhgbDlHA0dHGJBMQirJ2BhKYB1KRIDthgib0NC3sScYHl/QlFR2+RlddmnYa2/gOeHCCGlA
Xx9Fvd2YA4Rk6aPY1iga53gC3k+B8J0Xt7wdRE4AewCKMR4wHu620o6Alub+1fD2D7wj05GlZ7mA
BKXdLx9CVHIs2/XAjFHbsnrFWWtWJHUZXi3ATGEKJ0jmoHmqcfpIKPSYGJ5mAAPEwyGEISEDtSuN
Zl1FVxi7svhtblagKWmm/wCMA6K9zwpixpFifDm58JFJOhnMdZqo9k5s2IewXbhxYPnkwOtMh1qY
LDTe0uQ3qM69Zu4UPNyoV8sy3CJyajseEyOVeVgwJQEnEwVSEx5PogZcOsWAtUemKMINf5DFHlUw
aYyfDwoJPQdYcfNIJ7GuUgpm8aegUDRvvLh7FZ00x0aDGBUGZEYu4vTrLipZKRVJu47AVx3a+AnL
VeJkbFfLApIMPIj5x5COPDZrE5vT85vI1uMCFGcsfu5O650c9vBZgg6xbaBwo+nAAfWOAmZQ3TvH
HASFdOopQYnvNdM4YAY6h3ymNRIkm1suOAgu3WdyAAmOqbS4rcrinSortrUx9Tq0FwqJbw5VsQOD
gID3C+PojkPDjainsyLpB4uFKfLD6wGoOsOMx8jguI8uIigdjhGd4uPEPPGGh1MfoJ04Tidu1wuN
UIUavsTLSUCMSDFrfH/cJ2EsJpAKNQvEMaiaCOHsvKO0PDEyEfLhgkPDixSmQiJ1dfsK71iL95Ll
rqAOrrl06cvxE8gAV65q/wCMKUMqJeBphb4pLz+1c+HP57mjaH4yyAgHV1rnUc+7RDRDWgKYIJA/
a2x3rH8XL1hPQMMAT9siOrEUS81cDh/0n//Z" style="float: right; width: 4cm; height: 4cm;"/>

{{ block.super }}

<blockquote cite="1 Peter 4:10-11 NRSV" style="font-size: 14pt; font-weight: 500; margin: 0; line-height: 1.4;">
“Like good stewards of the manifold grace of God, serve one another with whatever gift each of you has received. Whoever speaks must do so as one speaking the very words of God; whoever serves must do so with the strength that God supplies, so that God may be glorified in all things through Jesus Christ. To him belong the glory and the power forever and ever. Amen.”
</blockquote>

<ul>
<li>Please note that all those serving on any given Sunday will be required to meet with the Shepherd or Steward rostered for the benediction that day at 11.00am during the morning tea break.</li>
<li>The first assistant named on the roster for Communion will offer a prayer of thanksgiving for the bread; the second assistant named will offer a prayer of thanksgiving for the fruit of the vine.</li>
<li>Teachers of Sunday lessons/sermons (not applicable to Scripture, Song &amp; Prayer leaders on the first Sunday of each month) will need to provide thought/discussion material for group leaders to facilitate group discussion following each lesson.</li>
<li>Serving in the assembly is a <strong>privilege</strong> and a <strong>serious responsibility</strong>. Please note 1&nbsp;Peter&nbsp;4:10-11 above. This roster is produced to ensure that everybody is aware of their roles well in advance, so all can be properly prepared on the day of their service.</li>
</ul>

<p class="strong">Please report any difficulties regarding your rostered service for {{ year }} to <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>

<p>Thank you for your willingness to serve your brethren and glorify God in this way!</p>

{% endblock "preamble" %}

{% block "postscript" %}
<h1>a note to our song leaders</h1>

<blockquote cite="1 Corinthians 14:26">
“…whenever you come together, each of you has a psalm, has a teaching, has a tongue, has a revelation, has an interpretation. Let all things be done for edification”
</blockquote>

<p>Eugene Peterson puts it well when he paraphrases the apostle Paul:</p>

<blockquote>
“When you gather for worship, each one of you be prepared with something that will be useful for all: sing a hymn, teach a lesson, tell a story, lead a prayer, provide an insight”
</blockquote>

<blockquote cite="Colossians 3:16">
“Let the word of Christ dwell in you richly in all wisdom, teaching and admonishing one another in psalms and hymns and spiritual songs, singing with grace in your hearts”
</blockquote>

<blockquote cite="Ephesians 5:19-21">
“…but be filled with the Spirit, speaking to one another in psalms and hymns and spiritual songs, singing and making melody in your heart to the Lord, giving thanks always for all things to God the Father in the name of our Lord Jesus Christ…”
</blockquote>

<p>Singing in Christian assemblies makes an important contribution to the overall objective of gathering on the Lord’s Day to “…consider one another in order to stir up love and good works…” (Hebrews 10:19-25). According to Paul (see the texts above), singing is a medium of teaching and admonishing one another, as well as a vehicle of expressing praise (thanksgiving) to God … whether rendered as a solo, antiphonally (parts or responsive) or congregationally (in unison).</p>

<p class="strong">In setting apart a block of fifteen minutes devoted to singing in our Sunday assemblies, song leaders have an opportunity to design and deliver a meaningful period of edification and praise.</p>

<p>In preparing for leading the church in song in 2019, I want to encourage you to devote as much thought and planning to that important role as you would if you were preparing to teach a lesson or lead communion. Consider developing a theme (whether connected to the morning’s lesson or the Lord’s Supper, or you may decide to develop your own theme) and select your songs thoughtfully and purposefully to develop that theme. You might choose to connect the songs with a brief commentary or short and relevant Bible readings or prayers to support the theme.</p>

<p class="strong">Ask yourself critical questions like: “What am I trying to teach?” or “What aspect of God’s character or work do I want to direct the congregation in praise and thanksgiving for?” “What are the songs that will help develop this theme most logically and meaningfully?” “How can I connect each song, so they flow together?” “Are we achieving a balance of old and new songs?” Please spend time in prayer over your preparations.</p>

<p class="emphasis">Thank you for blessing the church with your gifts and honouring God through your efforts!</p>

{% endblock "postscript" %}
