{% extends "directory/base.html" %}
{% load i18n smartquote %}

{% block heading %}{{ block.super }}: {% translate 'anniversaries'|capfirst %}{% endblock heading %}

{% block content %}

{% regroup family_list|dictsort:"anniversarydate" by anniversary|date:"F" as anniversary_by_month %}

{% for month in anniversary_by_month %}
    <h2>{{ month.grouper }}</h2>
    {% regroup month.list by anniversary.day as anniversary_by_month_day %}
    <ul>
    {% for day in anniversary_by_month_day %}
        <li><strong>{{ day.grouper }}</strong>{% for family in day.list %} {{ family.husband.name|smartquote }} &amp; {{ family.wife.name|smartquote }} {{ family.name|smartquote }} ({% blocktranslate count counter=family.anniversary_age %}{{ counter }} year{% plural %}{{ counter }} years{% endblocktranslate %}){% if not forloop.last %},{% endif %}{% endfor %}</li>
    {% endfor %}
    </ul>
{% empty %}
    <p>{% translate 'No anniversaries were found.' %}</p>
{% endfor %}

{% endblock content %}
