{% load i18n smartquote %}

{% regroup birthdays|dictsort:"birthdate" by birthday|date:"F" as birthday_by_month %}

{% for month in birthday_by_month %}
    <h3>{{ month.grouper }}</h3>
    {% regroup month.list by birthday.day as birthday_by_month_day %}
    <ul class="birthdays">
    {% for day in birthday_by_month_day %}
        <li><strong>{{ day.grouper }}</strong>{% for person in day.list %} {{ person.fullname|smartquote }}{% if not forloop.last %},{% endif %}{% endfor %}</li>
    {% endfor %}
    </ul>
{% empty %}
    <p>{% translate 'No birthdays were found.' %}</p>
{% endfor %}
