{% extends "directory/base.html" %}
{% load i18n %}

{% block title %}{% translate 'Search' %} {{ search_type }}: {% translate search_query %} | {{ block.super }}{% endblock title %}

{% block heading %}{{ block.super }}: {% translate 'Search' %}{% endblock heading %}

{% block content %}
{% include "directory/search_form.html" %}
{% for family in family_list %}
{% include "directory/family.html" %}
{% empty %}
<p>{% blocktranslate %}Nothing found for query string "{{search_query}}".{% endblocktranslate %}</p>
{% endfor %}
{% endblock content %}
