{% extends "directory/base.html" %}
{% load i18n %}

{% block heading %}{% translate 'Members Directory' %}{% endblock heading %}

{% block content %}

{% block instructions %}{% endblock instructions %}

<h2>{% translate 'addresses'|capfirst %}</h2>

<p>{% translate 'browse entries, by surname'|capfirst %}:</p>

{% regroup family_list by first_letter as index_list_unsorted %}

{% with index_list=index_list_unsorted|dictsort:"grouper" %}
<p class="links">[ {% for letter in index_list %}{% if not forloop.first %} | {% endif %}<a href="{% url 'directory:letter' letter.grouper %}">{{ letter.grouper|upper }}</a>{% endfor %} ]</p>
{% endwith %}

<h2>{% translate 'Search' %}</h2>

<p>{% translate 'you can search the directory by name or location'|capfirst %}:</p>

{% include "directory/search_form.html" %}

<h2>{% translate 'download'|capfirst %}</h2>

<p>{% url 'directory:pdf' as directory_pdf %}{% url 'directory:pdf_compact' as directory_pdf_compact %}{% blocktranslate %}You can download the latest copy of the directory for printing or browsing <a href="{{ directory_pdf }}">here</a>.{% endblocktranslate %} {% blocktranslate %}A more compact format is available <a href="{{ directory_pdf_compact }}">here</a>.{% endblocktranslate %}</p>

<h2>{% translate 'Birthdays and Anniversaries' %}</h2>

<p>{% url 'directory:birthdays' as birthday_url %}{% url 'directory:anniversaries' as anniversary_url %}{% blocktranslate %}You can view a list of <a href="{{ birthday_url}}">birthdays</a> or a list of <a href="{{ anniversary_url }}">anniversaries</a> in chronological order.{% endblocktranslate %}</p>

<h2>{% translate 'updates'|capfirst %}</h2>

<p>{% translate 'If you would like to update your details in any way, you can do so by browsing to your family’s entry and clicking the "Edit" link.' %}</p>

{% endblock content %}
