{% load i18n %}
<html>
<body>

<p>{% blocktranslate %}A family has been updated in the directory by {{actor}}{% endblocktranslate %}:</p>

<h2>{{ family.name }}</h2>

<table style="width: 100%; table-layout: fixed;">
<tr style="vertical-align: top;">
<td>
{% for person in family.spouses.all %}
<p style="margin: 0"><strong>{{ person.name_with_suffix }}{% if person.surname_override %} ({{ person.surname_override }}){% endif %}</strong>{% if person.birthday %}: {{ person.birthday|date:"j F" }}{% endif %}</p>
{% endfor %}
{% for person in family.siblings.all %}
<p style="margin: 0"><strong>{{ person.name_with_suffix }}{% if person.surname_override %} ({{ person.surname_override }}){% endif %}</strong>{% if person.birthday %}: {{ person.birthday|date:"j F" }}{% endif %}</p>
{% endfor %}
{% if family.anniversary %}<p>{% translate 'anniversary'|capfirst %}: {{ family.anniversary|date:"j F, Y" }}</p>{% endif %}
</td>
<td>

{% if family.street and family.suburb and family.postcode %}<p>{{ family.street }}<br />
{{ family.suburb }} {{ family.postcode }}</p>{% endif %}
{% if family.phone_home %}<p style="margin: 0">{% translate 'home'|capfirst %}: {{ family.phone_home }}</p>{% endif %}
{% if family.phone_mobile %}<p style="margin: 0">{% translate 'mobile'|capfirst %}: {{ family.phone_mobile }}</p>{% endif %}

{% for person in family.current_members.all %}{% if person.phone_mobile %}<p style="margin: 0">{% translate 'mobile'|capfirst %} ({{ person.name }}): {{ person.phone_mobile }}</p>{% endif %}{% endfor %}
{% for person in family.current_members.all %}{% if person.phone_work %}<p style="margin: 0">{% translate 'work'|capfirst %} ({{ person.name }}): {{ person.phone_work }}</p>{% endif %}{% endfor %}

{% if family.email %}<p style="margin: 0">{% translate 'email'|capfirst %}: <a href="mailto:{{ family.email }}">{{ family.email }}</a></p>{% endif %}

{% for person in family.current_members.all %}{% if person.email %}<p style="margin: 0">{% translate 'email'|capfirst %} ({{ person.name }}): <a href="mailto:{{ person.email }}">{{ person.email }}</a></p>{% endif %}{% endfor %}

</td>
</tr>
</table>

</body>
</html>
