div#body h2 {
    margin: 2rem;
    border-bottom: 0;
    text-align: center;
}

div#body blockquote p {
    color: rgb(192,0,0);
}

div#body blockquote p.attrib {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

div.splash {
    border: 1px solid black;
    margin: 1rem;
}
