{% extends "resources/base.html" %}
{% load markup %}

{% block title %}{{ block.super }}: {{ resource.title }}{% endblock title %}

{% block heading %}{{ resource.title }}{% endblock heading %}

{% block content %}

{% if resource.author and resource.show_author %}
<p id="author">By
{% if resource.author.email %}<a href="mailto:{{resource.author.email}}">{% endif %}
{{ resource.author.fullname }}
{% if resource.author.email %}</a>{% endif %}
</p>
{% endif %}

{% if resource.alternates.count > 0 %}
<p class="option">This resource is also available in
{% regroup resource.alternates.all by format as formats %}
{% for format in formats %}
{% with a=format.list|first %}<a href="{% url 'resources:attachment' a.id %}">{{ format.grouper }}</a>{% endwith %}{% if not forloop.last %}{% if forloop.revcounter0 == 1 %} or{% else %},{% endif %}{% endif %}
{% endfor %}
format.</p>
{% endif %}

{{ resource.content|markdown:"extra,toc" }}

{% endblock content %}
