{% extends "site/base.html" %}

{% block title %}{{ block.super }}: Tech Details{% endblock title %}

{% block heading %}Tech Details{% endblock heading %}

{% block content %}
<table>
<tr><td><b>Platform</b></td><td>{{ platform }}</td></tr>
<tr><td><b>Python</b></td><td>{{ python_version }}</td></tr>
{% for package, metadata in packages.items|dictsort:0 %}
<tr><td>{% if metadata.url %}<a href="{{ metadata.url }}">{{ package }}</a>{% else %}{{ package }}{% endif %}</td><td>{{ metadata.version }}</td></tr>
{% endfor %}
</table>
{% endblock content %}
