<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load static %}
{% load smartquote %}
{% load markup %}
{% load cache %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
{% if extended_site and extended_site.description %}<meta name="description" content="{{ extended_site.description }}" />{% endif %}
{% if extended_site and extended_site.keywords.all %}<meta name="keywords" content="{{ extended_site.keywords.all|join:', ' }}" />{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{{ site.name }}{% endblock title %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'style/default.css' %}" title="Default" />
<link rel="stylesheet" type="text/css" href="{% static 'style/print.css' %}" media="print" />
{% block stylesheets %}{% endblock stylesheets %}
<link rel="shortcut icon" href="{% static 'style/icon.png' %}" />
<link rel="home" href="/" />
<link rel="index" href="/" />
<link rel="license" href="{% url 'copyright' %}" />
{% block headers %}{% endblock headers %}
</head>
<body>
<div id="wrapper">

{% block body %}
{% include "site/header.html" %}
{% include "site/navbar.html" %}

<div id="body">
{% include "site/messages.html" %}

{% cache None splashes_above request.path %}{% if splashes_above %}{% include "splash/splash.html" with splashes=splashes_above %}{% endif %}{% endcache %}

<h2>{% block heading %}{% endblock heading %}</h2>

{% block content %}{% endblock content %}

{% cache None splashes_below request.path %}{% if splashes_below %}{% include "splash/splash.html" with splashes=splashes_below %}{% endif %}{% endcache %}
</div>

{% endblock body %}
</div>
</body>
</html>
