<!DOCTYPE html>
{% load static %}
{% load smartquote %}
{% load markup %}
{% load cache %}
<html lang="en-AU">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
{% if extended_site and extended_site.description %}<meta name="description" content="{{ extended_site.description }}" />{% endif %}
{% if extended_site and extended_site.keywords.all %}<meta name="keywords" content="{{ extended_site.keywords.all|join:', ' }}" />{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{{ site.name }}{% endblock title %}</title>
<link type="text/css" href="{% static '' %}" rel="preconnect" />
<link type="text/css" href="{% static 'style/default.css' %}" rel="stylesheet" title="Default" />
<link type="text/css" href="{% static 'style/print.css' %}" rel="stylesheet" media="print" />
<link type="text/css" href="{% static 'style/default.css' %}" rel="preload" as="style" />
<link type="text/css" href="{% static 'style/icons.css' %}" rel="preload" as="style" />
{% block stylesheets %}{% endblock stylesheets %}
<link rel="shortcut icon" href="{% static 'style/icon.png' %}" />
<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" />
<link rel="home" href="/" />
<link rel="index" href="/" />
<link rel="license" href="{% url 'copyright' %}" />
{% block headers %}{% endblock headers %}
</head>
<body itemscope itemtype="https://schema.org/WebPage">
<div id="wrapper">

{% block body %}
{% include "site/header.html" %}
{% include "site/navbar.html" %}
{% include "site/messages.html" %}

{% cache None splashes_above request.path %}{% if splashes_above %}{% include "splash/splash.html" with splashes=splashes_above %}{% endif %}{% endcache %}

{% block semantic %}
<header>
<h2 itemprop="name headline">{% block heading %}{% endblock heading %}</h2>
{% block metadata %}{% endblock metadata %}
</header>
{% block content %}{% endblock content %}
{% endblock semantic %}

{% cache None splashes_below request.path %}{% if splashes_below %}{% include "splash/splash.html" with splashes=splashes_below %}{% endif %}{% endcache %}

{% endblock body %}
</div>
</body>
</html>
