{% extends "newsletter/base.html" %}
{% load i18n markdownify %}

{% block content %}

{% if publication.description %}
{{ publication.description|markdownify }}
{% endif %}

<h2>{% translate 'Issues' %}</h2>

{% for issue in issue_list %}{% if forloop.first %}<ul>{% endif %}
<li itemprop="hasPart" itemscope itemtype="https://schema.org/PublicationIssue"><strong><a href="{% url 'newsletter:issue' issue.date %}"><time itemprop="datePublished" datetime="{{ issue.date|date:"Y-m-d" }}">{{ issue.date|date:"jS F, Y" }}</time></a></strong>{% if issue.description %}{{ issue.description|markdownify }}{% endif %}</li>
{% if forloop.last %}</ul>{% endif %}{% empty %}
<p>{% translate 'There are currently no issues available for this publication.' %}</p>
{% endfor %}

{% if is_paginated %}
<p class="links">[
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">{% translate 'previous'|capfirst %}</a> |
{% endif %}
{% blocktranslate with page_number=page_obj.number page_count=page_obj.paginator.num_pages %}Page {{ page_number }} of {{ page_count }}{% endblocktranslate %}
{% if page_obj.has_next %}
| <a href="?page={{ page_obj.next_page_number }}">{% translate 'next'|capfirst %}</a>
{% endif %}
]</p>
{% endif %}

{% endblock content %}

{% block semantic %}
<main id="main" itemscope itemprop="mainEntity" itemtype="https://schema.org/Periodical">
{{ block.super }}
</main>
{% endblock semantic %}

{% block metadata %}
<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><meta itemprop="name" content="{{ site.name }}" /></div>
{% endblock metadata %}
