input[id$="-suffix"] {
    width: 3rem;
}

input#id_postcode {
    width: 4rem;
}

table#family_people {
    margin-top: 2rem;
}

form table {
    width: auto;
}

form table td,
form table th {
    padding: 0.1em;
}
